<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoau.hoaureport.module.configreport.server.dao.AttendanceInfoMapper">
  
  <resultMap id="SubResultMap" type="com.hoau.hoaureport.module.configreport.shared.domain.MonthAttendanceInfo">
    <id column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="YEARMONTH" jdbcType="DATE" property="workMonth" />
    <result column="COMPANY_NAME" jdbcType="VARCHAR" property="companyName" />
    <result column="1" jdbcType="DECIMAL" property="day1LoadQuantity" />
    <result column="2" jdbcType="DECIMAL" property="day2LoadQuantity" />
    <result column="3" jdbcType="DECIMAL" property="day3LoadQuantity" />
    <result column="4" jdbcType="DECIMAL" property="day4LoadQuantity" />
    <result column="5" jdbcType="DECIMAL" property="day5LoadQuantity" />
    <result column="6" jdbcType="DECIMAL" property="day6LoadQuantity" />
    <result column="7" jdbcType="DECIMAL" property="day7LoadQuantity" />
    <result column="8" jdbcType="DECIMAL" property="day8LoadQuantity" />
    <result column="9" jdbcType="DECIMAL" property="day9LoadQuantity" />
    <result column="10" jdbcType="DECIMAL" property="day10LoadQuantity" />
    <result column="11" jdbcType="DECIMAL" property="day11LoadQuantity" />
    <result column="12" jdbcType="DECIMAL" property="day12LoadQuantity" />
    <result column="13" jdbcType="DECIMAL" property="day13LoadQuantity" />
    <result column="14" jdbcType="DECIMAL" property="day14LoadQuantity" />
    <result column="15" jdbcType="DECIMAL" property="day15LoadQuantity" />
    <result column="16" jdbcType="DECIMAL" property="day16LoadQuantity" />
    <result column="17" jdbcType="DECIMAL" property="day17LoadQuantity" />
    <result column="18" jdbcType="DECIMAL" property="day18LoadQuantity" />
    <result column="19" jdbcType="DECIMAL" property="day19LoadQuantity" />
    <result column="20" jdbcType="DECIMAL" property="day20LoadQuantity" />
    <result column="21" jdbcType="DECIMAL" property="day21LoadQuantity" />
    <result column="22" jdbcType="DECIMAL" property="day22LoadQuantity" />
    <result column="23" jdbcType="DECIMAL" property="day23LoadQuantity" />
    <result column="24" jdbcType="DECIMAL" property="day24LoadQuantity" />
    <result column="25" jdbcType="DECIMAL" property="day25LoadQuantity" />
    <result column="26" jdbcType="DECIMAL" property="day26LoadQuantity" />
    <result column="27" jdbcType="DECIMAL" property="day27LoadQuantity" />
    <result column="28" jdbcType="DECIMAL" property="day28LoadQuantity" />
    <result column="29" jdbcType="DECIMAL" property="day29LoadQuantity" />
    <result column="30" jdbcType="DECIMAL" property="day30LoadQuantity" />
    <result column="31" jdbcType="DECIMAL" property="day31LoadQuantity" />    
  </resultMap>
  
  
  
   <select id="queryMonthAttendanceInfoByCondition" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.AttendanceInfo" resultMap="SubResultMap">
    select * from(select distinct t.user_id, t.user_name, to_CHAR(t.work_date,'yyyymm') yearmonth, t.company_name,
                sub1.day_load_quantity "1", 
                sub2.day_load_quantity "2",
                sub3.day_load_quantity "3",
                sub4.day_load_quantity "4",
                sub5.day_load_quantity "5",
                sub6.day_load_quantity "6",
                sub7.day_load_quantity "7",
                sub8.day_load_quantity "8",
                sub9.day_load_quantity "9",
                sub10.day_load_quantity "10",
                sub11.day_load_quantity "11",
                sub12.day_load_quantity "12",
                sub13.day_load_quantity "13",
                sub14.day_load_quantity "14",
                sub15.day_load_quantity "15",
                sub16.day_load_quantity "16",
                sub17.day_load_quantity "17",
                sub18.day_load_quantity "18",
                sub19.day_load_quantity "19",
                sub20.day_load_quantity "20",
                sub21.day_load_quantity "21",
                sub22.day_load_quantity "22",
                sub23.day_load_quantity "23",
                sub24.day_load_quantity "24",
                sub25.day_load_quantity "25",
                sub26.day_load_quantity "26",
                sub27.day_load_quantity "27",
                sub28.day_load_quantity "28",
                sub29.day_load_quantity "29",
                sub30.day_load_quantity "30",
                sub31.day_load_quantity "31"
                
from REPORT_ATTENDANCE t 
left join
(select subtbl.user_id, subtbl.day_load_quantity, to_CHAR(subtbl.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 1)subtbl)
            )sub1
on 
t.user_id = sub1.user_id 
and
to_CHAR(t.work_date,'yyyymm') = sub1.yearmonth
           
left join
(select subtb2.user_id, subtb2.day_load_quantity, to_CHAR(subtb2.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 2)subtb2)
            )sub2
on 
t.user_id = sub2.user_id 
and
to_CHAR(t.work_date,'yyyymm') = sub2.yearmonth      
 
left join
(select subtb3.user_id, subtb3.day_load_quantity, to_CHAR(subtb3.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 3)subtb3)
            )sub3
on 
t.user_id = sub3.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub3.yearmonth      

left join
(select subtb4.user_id, subtb4.day_load_quantity, to_CHAR(subtb4.work_date,'yyyymm') yearmonth from
       ((select t1.* from REPORT_ATTENDANCE t1
         where to_CHAR(t1.work_date,'dd') = 4)subtb4)
            )sub4
on 
t.user_id = sub4.user_id  
and
to_CHAR(t.work_date,'yyyymm') = sub4.yearmonth
    
left join
(select subtb5.user_id, subtb5.day_load_quantity, to_CHAR(subtb5.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 5)subtb5)
            )sub5
on 
t.user_id = sub5.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub5.yearmonth 

left join
(select subtb6.user_id, subtb6.day_load_quantity , to_CHAR(subtb6.work_date,'yyyymm') yearmonth from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 6)subtb6)
            )sub6
on 
t.user_id = sub6.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub6.yearmonth
         
left join
(select subtb7.user_id, subtb7.day_load_quantity, to_CHAR(subtb7.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 7)subtb7)
            )sub7
on 
t.user_id = sub7.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub7.yearmonth

left join
(select subtb8.user_id, subtb8.day_load_quantity, to_CHAR(subtb8.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 8)subtb8)
            )sub8
on 
t.user_id = sub8.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub8.yearmonth

left join
(select subtb9.user_id, subtb9.day_load_quantity, to_CHAR(subtb9.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 9)subtb9)
            )sub9
on 
t.user_id = sub9.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub9.yearmonth

left join
(select subtb10.user_id, subtb10.day_load_quantity, to_CHAR(subtb10.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 10)subtb10)
            )sub10
on 
t.user_id = sub10.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub10.yearmonth

left join
(select subtb11.user_id, subtb11.day_load_quantity, to_CHAR(subtb11.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 11)subtb11)
            )sub11
on 
t.user_id = sub11.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub11.yearmonth

left join
(select subtb12.user_id, subtb12.day_load_quantity, to_CHAR(subtb12.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 12)subtb12)
            )sub12
on 
t.user_id = sub12.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub12.yearmonth

left join
(select subtb13.user_id, subtb13.day_load_quantity, to_CHAR(subtb13.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 13)subtb13)
            )sub13
on 
t.user_id = sub13.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub13.yearmonth

left join
(select subtb14.user_id, subtb14.day_load_quantity, to_CHAR(subtb14.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 14)subtb14)
            )sub14
on 
t.user_id = sub14.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub14.yearmonth

left join
(select subtb15.user_id, subtb15.day_load_quantity, to_CHAR(subtb15.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 15)subtb15)
            )sub15
on 
t.user_id = sub15.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub15.yearmonth

left join
(select subtb16.user_id, subtb16.day_load_quantity, to_CHAR(subtb16.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 16)subtb16)
            )sub16
on 
t.user_id = sub16.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub16.yearmonth

left join
(select subtb17.user_id, subtb17.day_load_quantity, to_CHAR(subtb17.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 17)subtb17)
            )sub17
on 
t.user_id = sub17.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub17.yearmonth

left join
(select subtb18.user_id, subtb18.day_load_quantity, to_CHAR(subtb18.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 18)subtb18)
            )sub18
on 
t.user_id = sub18.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub18.yearmonth

left join
(select subtb19.user_id, subtb19.day_load_quantity, to_CHAR(subtb19.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 19)subtb19)
            )sub19
on 
t.user_id = sub19.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub19.yearmonth

left join
(select subtb20.user_id, subtb20.day_load_quantity, to_CHAR(subtb20.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 20)subtb20)
            )sub20
on 
t.user_id = sub20.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub20.yearmonth

left join
(select subtb21.user_id, subtb21.day_load_quantity, to_CHAR(subtb21.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 21)subtb21)
            )sub21
on 
t.user_id = sub21.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub21.yearmonth

left join
(select subtb22.user_id, subtb22.day_load_quantity, to_CHAR(subtb22.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 22)subtb22)
            )sub22
on 
t.user_id = sub22.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub22.yearmonth

left join
(select subtb23.user_id, subtb23.day_load_quantity, to_CHAR(subtb23.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 23)subtb23)
            )sub23
on 
t.user_id = sub23.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub23.yearmonth

left join
(select subtb24.user_id, subtb24.day_load_quantity, to_CHAR(subtb24.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 24)subtb24)
            )sub24
on 
t.user_id = sub24.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub24.yearmonth

left join
(select subtb25.user_id, subtb25.day_load_quantity, to_CHAR(subtb25.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 25)subtb25)
            )sub25
on 
t.user_id = sub25.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub25.yearmonth

left join
(select subtb26.user_id, subtb26.day_load_quantity, to_CHAR(subtb26.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 26)subtb26)
            )sub26
on 
t.user_id = sub26.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub26.yearmonth

left join
(select subtb27.user_id, subtb27.day_load_quantity, to_CHAR(subtb27.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 27)subtb27)
            )sub27
on 
t.user_id = sub27.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub27.yearmonth

left join
(select subtb28.user_id, subtb28.day_load_quantity, to_CHAR(subtb28.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 28)subtb28)
            )sub28
on 
t.user_id = sub28.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub28.yearmonth

left join
(select subtb29.user_id, subtb29.day_load_quantity, to_CHAR(subtb29.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 29)subtb29)
            )sub29
on 
t.user_id = sub29.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub29.yearmonth

left join
(select subtb30.user_id, subtb30.day_load_quantity, to_CHAR(subtb30.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 30)subtb30)
            )sub30
on 
t.user_id = sub30.user_id
and
to_CHAR(t.work_date,'yyyymm') = sub30.yearmonth

left join
(select subtb31.user_id, subtb31.day_load_quantity, to_CHAR(subtb31.work_date,'yyyymm') yearmonth  from
       ((select t.* from REPORT_ATTENDANCE t
         where to_CHAR(t.work_date,'dd') = 31)subtb31)
            )sub31
on 
t.user_id = sub31.user_id 
and
to_CHAR(t.work_date,'yyyymm') = sub31.yearmonth)


      <where>
      	<if test="attendanceId != null and attendanceId != ''">
    	and ATTENDANCE_ID = #{attendanceId,jdbcType=DECIMAL}
    	</if>
    	<if test="userId != null and userId != ''">
    	and USER_ID = #{userId,jdbcType=VARCHAR}
    	</if>
    	<if test="userName != null and userName != ''">
    	and USER_NAME = #{userName,jdbcType=VARCHAR}
    	</if>
    	<if test="companyName != null and companyName != ''">
    	and COMPANY_NAME like CONCAT(CONCAT('%', #{companyName,jdbcType=VARCHAR}),'%')
    	</if>
    	<if test="currMonth != null and currMonth != ''">
    	and YEARMONTH = #{currMonth,jdbcType=VARCHAR}
        </if>
    	<if test="dayLoadQuantity != null and dayLoadQuantity != ''">
    	and DAY_LOAD_QUANTITY = #{dayLoadQuantity,jdbcType=DECIMAL}
    	</if>
    </where>
    order by YEARMONTH desc,USER_ID asc       
  </select>
  
   <select id="queryMonthAttendanceInfoCountByCondition" resultType="long" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.AttendanceInfo">
    select count(*)
    from (select distinct t.user_id, t.COMPANY_NAME, to_CHAR(t.work_date,'yyyymm') yearmonth from REPORT_ATTENDANCE t)
      <where>
      	<if test="attendanceId != null and attendanceId != ''">
    	and ATTENDANCE_ID = #{attendanceId,jdbcType=DECIMAL}
    	</if>
    	<if test="userId != null and userId != ''">
    	and USER_ID = #{userId,jdbcType=VARCHAR}
    	</if>
    	<if test="userName != null and userName != ''">
    	and USER_NAME = #{userName,jdbcType=VARCHAR}
    	</if>
    	<if test="companyName != null and companyName != ''">
    	and COMPANY_NAME like CONCAT(CONCAT('%', #{companyName,jdbcType=VARCHAR}),'%')
    	</if>
    	<if test="currMonth != null and currMonth != ''">
    	and YEARMONTH = #{currMonth,jdbcType=VARCHAR}
        </if>
    	<if test="dayLoadQuantity != null and dayLoadQuantity != ''">
    	and DAY_LOAD_QUANTITY = #{dayLoadQuantity,jdbcType=DECIMAL}
    	</if>
    </where>
  </select>
  
  
</mapper>