<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoau.hoaureport.module.configreport.server.dao.SignedClientMapper">
  <resultMap id="BaseResultMap" type="com.hoau.hoaureport.module.configreport.shared.domain.SignedClient">
    <id column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
    <result column="CONTRACT_TYPE" jdbcType="VARCHAR" property="contractType" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="MODIFY_USER" jdbcType="VARCHAR" property="modifyUser" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_CODE, CONTRACT_TYPE, MODIFY_TIME, MODIFY_USER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" /> 
    from SIGNED_CLIENT
    where USER_CODE = #{userCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SIGNED_CLIENT
    where USER_CODE = #{userCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SignedClient">
    insert into SIGNED_CLIENT (USER_CODE, CONTRACT_TYPE, MODIFY_TIME, 
      MODIFY_USER)
    values (#{userCode,jdbcType=VARCHAR}, #{contractType,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifyUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SignedClient">
    insert into SIGNED_CLIENT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        USER_CODE,
      </if>
      <if test="contractType != null">
        CONTRACT_TYPE,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUser != null">
        MODIFY_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="contractType != null">
        #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SignedClient">
    update SIGNED_CLIENT
    <set>
      <if test="contractType != null">
        CONTRACT_TYPE = #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        MODIFY_USER = #{modifyUser,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_CODE = #{userCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SignedClient">
    update SIGNED_CLIENT
    set CONTRACT_TYPE = #{contractType,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      MODIFY_USER = #{modifyUser,jdbcType=VARCHAR}
    where USER_CODE = #{userCode,jdbcType=VARCHAR}
  </update>
  <select id="queryByCondition" resultMap="BaseResultMap" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SignedClient">
    select USER_CODE,CONTRACT_TYPE,MODIFY_TIME,MODIFY_USER
    from SIGNED_CLIENT
    <where>
    <if test="userCode != null  and userCode != '' ">
        <!-- USER_CODE LIKE CONCAT(CONCAT('%', #{userCode,jdbcType=VARCHAR} ), '%') -->
        USER_CODE = #{userCode,jdbcType=VARCHAR}
      </if> 
      <if test="contractType != null">
       and CONTRACT_TYPE = #{contractType,jdbcType=VARCHAR}
      </if>
      <if test="modifyTime != null">
       and MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="modifyUser != null">
       and MODIFY_USER = #{modifyUser,jdbcType=VARCHAR}
      </if>
    </where>
    order by MODIFY_TIME desc
  </select>
  <select id="queryCountByCondition" resultType="long" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SignedClient">
    select count(*)
    from SIGNED_CLIENT
    <where>
       <if test="userCode != null  and userCode != '' ">
        USER_CODE = #{userCode,jdbcType=VARCHAR}
      </if>
      <if test="contractType != null">
       and CONTRACT_TYPE = #{contractType,jdbcType=VARCHAR}
      </if>
      <if test="modifyTime != null">
       and MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="modifyUser != null">
       and MODIFY_USER = #{modifyUser,jdbcType=VARCHAR}
      </if>
    </where>
   </select>
</mapper>