<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoau.hoaureport.module.configreport.server.dao.SpecialStationInfoMapper">
  <resultMap id="BaseResultMap" type="com.hoau.hoaureport.module.configreport.shared.domain.SpecialStationInfo">
    <id column="SPECIAL_STATIONS_ID" jdbcType="DECIMAL" property="specialStationsId" />
    <result column="STATIONS_SHORTNAME" jdbcType="VARCHAR" property="stationsShortName" />
    <result column="STATIONS_NAME" jdbcType="VARCHAR" property="stationsName" />
    <result column="THE_AREA" jdbcType="VARCHAR" property="theArea" />
    <result column="THE_BUSINESS_DEPARTMENT" jdbcType="VARCHAR" property="theBusinessDepartment" />
    <result column="ACTIVE" jdbcType="CHAR" property="active" />
    <result column="EFFECTED_TIME" jdbcType="TIMESTAMP" property="effectedTime" />
    <result column="INVALID_TIME" jdbcType="TIMESTAMP" property="invalidTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER_CODE" jdbcType="VARCHAR" property="createUserCode" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="MODIFY_USER_CODE" jdbcType="VARCHAR" property="modifyUserCode" />
  </resultMap>
  <sql id="Base_Column_List">
    SPECIAL_STATIONS_ID, STATIONS_SHORTNAME, STATIONS_NAME, THE_AREA, THE_BUSINESS_DEPARTMENT, 
    ACTIVE, EFFECTED_TIME, INVALID_TIME, CREATE_TIME, CREATE_USER_CODE, MODIFY_TIME, 
    MODIFY_USER_CODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from REPORT_SPECIAL_STATIONS
    where SPECIAL_STATIONS_ID = #{specialStationsId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from REPORT_SPECIAL_STATIONS
    where SPECIAL_STATIONS_ID = #{specialStationsId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SpecialStationInfo">
    insert into REPORT_SPECIAL_STATIONS (SPECIAL_STATIONS_ID, STATIONS_SHORTNAME, STATIONS_NAME, 
      THE_AREA, THE_BUSINESS_DEPARTMENT, ACTIVE, 
      EFFECTED_TIME, INVALID_TIME, CREATE_TIME, 
      CREATE_USER_CODE, MODIFY_TIME, MODIFY_USER_CODE
      )
    values SEQ_SPECIAL_STATIONS_ID.Nextval, #{stationsShortName,jdbcType=VARCHAR}, #{stationsName,jdbcType=VARCHAR}, 
      #{theArea,jdbcType=VARCHAR}, #{theBusinessDepartment,jdbcType=VARCHAR}, #{active,jdbcType=CHAR}, 
      #{effectedTime,jdbcType=TIMESTAMP}, #{invalidTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserCode,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUserCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SpecialStationInfo">
    insert into REPORT_SPECIAL_STATIONS
    <trim prefix="(" suffix=")" suffixOverrides=",">
        SPECIAL_STATIONS_ID,
      <if test="stationsShortName != null">
        STATIONS_SHORTNAME,
      </if>
      <if test="stationsName != null">
        STATIONS_NAME,
      </if>
      <if test="theArea != null">
        THE_AREA,
      </if>
      <if test="theBusinessDepartment != null">
        THE_BUSINESS_DEPARTMENT,
      </if>
      <if test="active != null">
        ACTIVE,
      </if>
      <if test="effectedTime != null">
        EFFECTED_TIME,
      </if>
      <if test="invalidTime != null">
        INVALID_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        SEQ_SPECIAL_STATIONS_ID.Nextval,
      <if test="stationsShortName != null">
        #{stationsShortName,jdbcType=VARCHAR},
      </if>
      <if test="stationsName != null">
        #{stationsName,jdbcType=VARCHAR},
      </if>
      <if test="theArea != null">
        #{theArea,jdbcType=VARCHAR},
      </if>
      <if test="theBusinessDepartment != null">
        #{theBusinessDepartment,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=CHAR},
      </if>
      <if test="effectedTime != null">
        #{effectedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null">
        #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserCode != null">
        #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserCode != null">
        #{modifyUserCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SpecialStationInfo">
    update REPORT_SPECIAL_STATIONS
    <set>
      <if test="stationsShortName != null">
        STATIONS_SHORTNAME = #{stationsShortName,jdbcType=VARCHAR},
      </if>
      <if test="stationsName != null">
        STATIONS_NAME = #{stationsName,jdbcType=VARCHAR},
      </if>
      <if test="theArea != null">
        THE_AREA = #{theArea,jdbcType=VARCHAR},
      </if>
      <if test="theBusinessDepartment != null">
        THE_BUSINESS_DEPARTMENT = #{theBusinessDepartment,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        ACTIVE = #{active,jdbcType=CHAR},
      </if>
      <if test="effectedTime != null">
        EFFECTED_TIME = #{effectedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null">
        INVALID_TIME = #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR},
      </if>
    </set>
    where SPECIAL_STATIONS_ID = #{specialStationsId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SpecialStationInfo">
    update REPORT_SPECIAL_STATIONS
    set STATIONS_SHORTNAME = #{stationsShortName,jdbcType=VARCHAR},
      STATIONS_NAME = #{stationsName,jdbcType=VARCHAR},
      THE_AREA = #{theArea,jdbcType=VARCHAR},
      THE_BUSINESS_DEPARTMENT = #{theBusinessDepartment,jdbcType=VARCHAR},
      ACTIVE = #{active,jdbcType=CHAR},
      EFFECTED_TIME = #{effectedTime,jdbcType=TIMESTAMP},
      INVALID_TIME = #{invalidTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR}
    where SPECIAL_STATIONS_ID = #{specialStationsId,jdbcType=DECIMAL}
  </update>
  
  <select id="querySpecialStationInfoByCondition" resultMap="BaseResultMap" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SpecialStationInfo">
    select 
    <include refid="Base_Column_List" />
    from REPORT_SPECIAL_STATIONS
    <where>
    	<if test="specialStationsId != null and specialStationsId != ''">
    	and SPECIAL_STATIONS_ID = #{specialStationsId,jdbcType=DECIMAL}
    	</if>
    	<if test="stationsShortName != null and stationsShortName != ''">
    	and STATIONS_SHORTNAME = #{stationsShortName,jdbcType=VARCHAR}
    	</if>
    	<if test="stationsName != null and stationsName != ''">
    	and STATIONS_NAME = #{stationsName,jdbcType=VARCHAR}
    	</if>
    	<if test="theBusinessDepartment != null and theBusinessDepartment != ''">
    	and THE_BUSINESS_DEPARTMENT = #{theBusinessDepartment,jdbcType=VARCHAR}
    	</if>
    	<if test="theArea != null and theArea != ''">
    	and THE_AREA = #{theArea,jdbcType=VARCHAR}
    	</if>
    	<if test="active != null and active != ''">
    	and ACTIVE = #{active,jdbcType=VARCHAR}
    	</if>
    </where>
    order by CREATE_TIME desc
  </select>
  
  
  <select id="querySpecialStationCountByCondition" resultType="long" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SpecialStationInfo">
    select count(*)
    from REPORT_SPECIAL_STATIONS
    <where>
    <if test="specialStationsId != null and specialStationsId != ''">
    	and SPECIAL_STATIONS_ID = #{specialStationsId,jdbcType=DECIMAL}
    	</if>
    	<if test="stationsShortName != null and stationsShortName != ''">
    	and STATIONS_SHORTNAME = #{stationsShortName,jdbcType=VARCHAR}
    	</if>
    	<if test="stationsName != null and stationsName != ''">
    	and STATIONS_NAME = #{stationsName,jdbcType=VARCHAR}
    	</if>
    	<if test="theBusinessDepartment != null and theBusinessDepartment != ''">
    	and THE_BUSINESS_DEPARTMENT = #{theBusinessDepartment,jdbcType=VARCHAR}
    	</if>
    	<if test="theArea != null and theArea != ''">
    	and THE_AREA = #{theArea,jdbcType=VARCHAR}
    	</if>
    	<if test="active != null and active != ''">
    	and ACTIVE = #{active,jdbcType=VARCHAR}
    	</if>
    </where>
  </select>
</mapper>