<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hoau.hoaureport.module.configreport.server.dao.WayBillZipEntityMapper" >
  <!--The file was generated on 2016-07-11 18:49:46 by 273503-->
  <resultMap id="BaseResultMap" type="com.hoau.hoaureport.module.configreport.shared.domain.WayBillZipEntity" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ZIP_NUM" property="zipNum" jdbcType="VARCHAR" />
    <result column="ZIP_PATH" property="zipPath" jdbcType="VARCHAR" />
    <result column="ZIP_NAME" property="zipName" jdbcType="VARCHAR" />
    <result column="ACTIVE" property="active" jdbcType="CHAR" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="MODIFIER" property="modifier" jdbcType="VARCHAR" />
    <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.WayBillZipEntity" >
    insert into T_REPORT_WAYBILLZIP (ID, ZIP_NUM, ZIP_PATH, 
      ZIP_NAME, ACTIVE, CREATOR, 
      CREATE_DATE, MODIFIER, MODIFY_DATE
      )
    values (#{id,jdbcType=VARCHAR}, #{zipNum,jdbcType=VARCHAR}, #{zipPath,jdbcType=VARCHAR}, 
      #{zipName,jdbcType=VARCHAR}, #{active,jdbcType=CHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{modifyDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.WayBillZipEntity" >
    insert into T_REPORT_WAYBILLZIP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="zipNum != null" >
        ZIP_NUM,
      </if>
      <if test="zipPath != null" >
        ZIP_PATH,
      </if>
      <if test="zipName != null" >
        ZIP_NAME,
      </if>
      <if test="active != null" >
        ACTIVE,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="modifier != null" >
        MODIFIER,
      </if>
      <if test="modifyDate != null" >
        MODIFY_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="zipNum != null" >
        #{zipNum,jdbcType=VARCHAR},
      </if>
      <if test="zipPath != null" >
        #{zipPath,jdbcType=VARCHAR},
      </if>
      <if test="zipName != null" >
        #{zipName,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        #{active,jdbcType=CHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <sql id="Base_where_List">
  		where 
  		 active ='Y'
  		 <if test="createDate != null">
  		 	<![CDATA[ 
  		 		and create_date >= #{createDate,jdbcType=TIMESTAMP}
  		 	]]>
  		 	 
  		 </if>
  		 <if test="endTime != null">
  		 	<![CDATA[ 
  		 		and create_date < #{endTime,jdbcType=TIMESTAMP}
  		 	]]>
  		 </if>
  		 
  		 order by create_date desc
  		
  </sql>
  
  <select id="queryCount"  resultType="long" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.WayBillZipEntity">
  		select count(*) from T_REPORT_WAYBILLZIP 
  		<include refid="Base_where_List"/>
  		
  </select>
  <select id="queryByEntity" resultMap="BaseResultMap" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.WayBillZipEntity">
  		
  		select 
  			id,
			zip_num,
			zip_name,
			creator,
			create_date,
			modifier,
			modify_date 
		from T_REPORT_WAYBILLZIP 
        <include refid="Base_where_List"/>
  
  </select>
  
  <select id="queryById" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.WayBillZipEntity" resultMap="BaseResultMap">
  		select 
  			id,
			zip_num ,
			zip_path,
			zip_name,
			active,
			creator,
			create_date,
			modifier,
			modify_date 
		from T_REPORT_WAYBILLZIP 
		where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="queryByZipNum" parameterType="string" resultType="com.hoau.hoaureport.module.configreport.shared.domain.WayBillZipEntity">
  	select 
  			id,
			zip_num ,
			zip_path,
			zip_name,
			active,
			creator,
			create_date,
			modifier,
			modify_date 
		from T_REPORT_WAYBILLZIP 
		where zip_num = #{zipNum,jdbcType=VARCHAR}
  
  </select>
  
  <update id="update" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.WayBillZipEntity">
  		
  		update T_REPORT_WAYBILLZIP 
  		   set 
			zip_path = #{zipPath,jdbcType=VARCHAR},
			zip_name = #{zipName,jdbcType=VARCHAR},
			active = #{active,jdbcType=CHAR},
			modifier = #{modifier,jdbcType=VARCHAR},
			modify_date = #{modifyDate,jdbcType=TIMESTAMP}
  		
  		where id = #{id,jdbcType=VARCHAR}
  		
  </update>
  

  
  <delete id="deleteByCreatedate" parameterType="string">
  		<![CDATA[
  			delete from t_report_waybillzip t 
			where to_char(t.create_date,'yyyymmdd')<=#{datename,jdbcType=VARCHAR}
  		]]>
  </delete>
  
</mapper>