<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoau.hoaureport.module.configreport.server.dao.CustomerInfoMapper">
  <resultMap id="BaseResultMap" type="com.hoau.hoaureport.module.configreport.shared.domain.CustomerInfo">
    <id column="CUSTOMER_NUM" jdbcType="VARCHAR" property="customerNum" />
    <result column="BIG_CUSTOMER_NAME" jdbcType="VARCHAR" property="bigCustomerName" />
    <result column="ADD_EFFICIENCY" jdbcType="CHAR" property="addEfficiency" />
    <result column="ACTIVE" jdbcType="CHAR" property="active" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER_CODE" jdbcType="VARCHAR" property="createUserCode" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="MODIFY_USER_CODE" jdbcType="VARCHAR" property="modifyUserCode" />
  </resultMap>
  <sql id="Base_Column_List">
    CUSTOMER_NUM, BIG_CUSTOMER_NAME, ADD_EFFICIENCY, ACTIVE, CREATE_TIME, CREATE_USER_CODE, 
    MODIFY_TIME, MODIFY_USER_CODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from REPORT_CUSTOMER_INFO
    where CUSTOMER_NUM = #{customerNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from REPORT_CUSTOMER_INFO
    where CUSTOMER_NUM = #{customerNum,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.CustomerInfo">
    insert into REPORT_CUSTOMER_INFO (CUSTOMER_NUM, BIG_CUSTOMER_NAME, ADD_EFFICIENCY, 
      ACTIVE, CREATE_TIME, CREATE_USER_CODE, 
      MODIFY_TIME, MODIFY_USER_CODE)
    values (#{customerNum,jdbcType=VARCHAR}, #{bigCustomerName,jdbcType=VARCHAR}, #{addEfficiency,jdbcType=CHAR}, 
      #{active,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUserCode,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUserCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.CustomerInfo">
    insert into REPORT_CUSTOMER_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerNum != null">
        CUSTOMER_NUM,
      </if>
      <if test="bigCustomerName != null">
        BIG_CUSTOMER_NAME,
      </if>
      <if test="addEfficiency != null">
        ADD_EFFICIENCY,
      </if>
      <if test="active != null">
        ACTIVE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerNum != null">
        #{customerNum,jdbcType=VARCHAR},
      </if>
      <if test="bigCustomerName != null">
        #{bigCustomerName,jdbcType=VARCHAR},
      </if>
      <if test="addEfficiency != null">
        #{addEfficiency,jdbcType=CHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserCode != null">
        #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserCode != null">
        #{modifyUserCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.CustomerInfo">
    update REPORT_CUSTOMER_INFO
    <set>
      <if test="bigCustomerName != null">
        BIG_CUSTOMER_NAME = #{bigCustomerName,jdbcType=VARCHAR},
      </if>
      <if test="addEfficiency != null">
        ADD_EFFICIENCY = #{addEfficiency,jdbcType=CHAR},
      </if>
      <if test="active != null">
        ACTIVE = #{active,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR},
      </if>
    </set>
    where CUSTOMER_NUM = #{customerNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.CustomerInfo">
    update REPORT_CUSTOMER_INFO
    set BIG_CUSTOMER_NAME = #{bigCustomerName,jdbcType=VARCHAR},
      ADD_EFFICIENCY = #{addEfficiency,jdbcType=CHAR},
      ACTIVE = #{active,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR}
    where CUSTOMER_NUM = #{customerNum,jdbcType=VARCHAR}
  </update>
  
   <select id="queryCustomerInfoByCondition" resultMap="BaseResultMap" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.CustomerInfo">
    select 
    <include refid="Base_Column_List" />
   from REPORT_CUSTOMER_INFO
     <where>
    	<if test="bigCustomerName != null and bigCustomerName != ''">
    	and BIG_CUSTOMER_NAME = #{bigCustomerName,jdbcType=DECIMAL}
    	</if>
    	<if test="addEfficiency != null and addEfficiency != ''">
    	and ADD_EFFICIENCY = #{addEfficiency,jdbcType=VARCHAR}
    	</if>
    	<if test="customerNum != null and customerNum != ''">
    	and CUSTOMER_NUM = #{customerNum,jdbcType=VARCHAR}
    	</if>
    	<if test="active != null and active != ''">
    	and ACTIVE = #{active,jdbcType=VARCHAR}
    	</if>
    </where>
    order by CREATE_TIME desc
  </select>
  <select id="queryCustomerInfoCountByCondition" resultType="long" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.CustomerInfo">
    select count(*)
    from REPORT_CUSTOMER_INFO
     <where>
    	<if test="bigCustomerName != null and bigCustomerName != ''">
    	and BIG_CUSTOMER_NAME = #{bigCustomerName,jdbcType=DECIMAL}
    	</if>
    	<if test="addEfficiency != null and addEfficiency != ''">
    	and ADD_EFFICIENCY = #{addEfficiency,jdbcType=VARCHAR}
    	</if>
    	<if test="customerNum != null and customerNum != ''">
    	and CUSTOMER_NUM = #{customerNum,jdbcType=VARCHAR}
    	</if>
    	<if test="active != null and active != ''">
    	and ACTIVE = #{active,jdbcType=VARCHAR}
    	</if>
    </where>
  </select>
</mapper>