<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoau.hoaureport.module.configreport.server.dao.DeliverIntimeRateMapper">
  <resultMap id="BaseResultMap" type="com.hoau.hoaureport.module.configreport.shared.domain.DeliverIntimeRate">
    <id column="INTIMERATE_ID" jdbcType="DECIMAL" property="intimerateId" />
    <result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
    <result column="TARGET_VALUE" jdbcType="VARCHAR" property="targetValue" />
    <result column="TARGET_VALUE_MAX" jdbcType="VARCHAR" property="targetValueMax" />
    <result column="TARGET_VALUE_MONTH" jdbcType="VARCHAR" property="targetValueMonth" />
    <result column="IMPORT_TIME" jdbcType="TIMESTAMP" property="importTime" />
    <result column="MANAGER" jdbcType="VARCHAR" property="manager" />
    <result column="ACTIVE" jdbcType="CHAR" property="active" />
    <result column="EFFECTED_TIME" jdbcType="TIMESTAMP" property="effectedTime" />
    <result column="INVALID_TIME" jdbcType="TIMESTAMP" property="invalidTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER_CODE" jdbcType="VARCHAR" property="createUserCode" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="MODIFY_USER_CODE" jdbcType="VARCHAR" property="modifyUserCode" />
     <result column="LASTMONTH_FINISHVALUE" jdbcType="VARCHAR" property="lastMonthFinishValue" />
  </resultMap>
  <sql id="Base_Column_List">
    INTIMERATE_ID, DEPARTMENT, TARGET_VALUE, TARGET_VALUE_MAX, TARGET_VALUE_MONTH, IMPORT_TIME, MANAGER,
    ACTIVE, EFFECTED_TIME, INVALID_TIME, CREATE_TIME, CREATE_USER_CODE, MODIFY_TIME, 
    MODIFY_USER_CODE,LASTMONTH_FINISHVALUE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from REPORT_DELIVER_INTIME_RATE
    where INTIMERATE_ID = #{intimerateId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from REPORT_DELIVER_INTIME_RATE
    where INTIMERATE_ID = #{intimerateId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.DeliverIntimeRate">
    insert into REPORT_DELIVER_INTIME_RATE (INTIMERATE_ID, DEPARTMENT, TARGET_VALUE, TARGET_VALUE_MAX,
      TARGET_VALUE_MONTH, IMPORT_TIME, MANAGER, 
      ACTIVE, EFFECTED_TIME, INVALID_TIME, 
      CREATE_TIME, CREATE_USER_CODE, MODIFY_TIME, 
      MODIFY_USER_CODE,LASTMONTH_FINISHVALUE)
    values (SEQ_INTIMERATE_ID.Nextval, #{department,jdbcType=VARCHAR}, #{targetValue,jdbcType=VARCHAR}, #{targetValueMax,jdbcType=VARCHAR},
      #{targetValueMonth,jdbcType=VARCHAR}, #{importTime,jdbcType=TIMESTAMP}, #{manager,jdbcType=VARCHAR}, 
      #{active,jdbcType=CHAR}, #{effectedTime,jdbcType=TIMESTAMP}, #{invalidTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserCode,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifyUserCode,jdbcType=VARCHAR},#{lastMonthFinishValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.DeliverIntimeRate">
    insert into REPORT_DELIVER_INTIME_RATE
    <trim prefix="(" suffix=")" suffixOverrides=",">
        INTIMERATE_ID,
      <if test="department != null">
        DEPARTMENT,
      </if>
      <if test="targetValue != null">
        TARGET_VALUE,
      </if>
      <if test="targetValueMax != null">
        TARGET_VALUE_MAX,
      </if>
      <if test="targetValueMonth != null">
        TARGET_VALUE_MONTH,
      </if>
      <if test="importTime != null">
        IMPORT_TIME,
      </if>
      <if test="manager != null">
        MANAGER,
      </if>
      <if test="active != null">
        ACTIVE,
      </if>
      <if test="effectedTime != null">
        EFFECTED_TIME,
      </if>
      <if test="invalidTime != null">
        INVALID_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE,
      </if>
        <if test="lastMonthFinishValue != null">
        LASTMONTH_FINISHVALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        SEQ_INTIMERATE_ID.Nextval,
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="targetValue != null">
        #{targetValue,jdbcType=VARCHAR},
      </if>
      <if test="targetValueMax != null">
        #{targetValueMax,jdbcType=VARCHAR},
      </if>
      <if test="targetValueMonth != null">
        #{targetValueMonth,jdbcType=VARCHAR},
      </if>
      <if test="importTime != null">
        #{importTime,jdbcType=TIMESTAMP},
      </if>
      <if test="manager != null">
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=CHAR},
      </if>
      <if test="effectedTime != null">
        #{effectedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null">
        #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserCode != null">
        #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserCode != null">
        #{modifyUserCode,jdbcType=VARCHAR},
      </if>
       <if test="lastMonthFinishValue != null">
        #{lastMonthFinishValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.DeliverIntimeRate">
    update REPORT_DELIVER_INTIME_RATE
    <set>
      <if test="department != null">
        DEPARTMENT = #{department,jdbcType=VARCHAR},
      </if>
      <if test="targetValue != null">
        TARGET_VALUE = #{targetValue,jdbcType=VARCHAR},
      </if>
      <if test="targetValueMax != null">
        TARGET_VALUE_MAX = #{targetValueMax,jdbcType=VARCHAR},
      </if>
      <if test="targetValueMonth != null">
        TARGET_VALUE_MONTH = #{targetValueMonth,jdbcType=VARCHAR},
      </if>
      <if test="importTime != null">
        IMPORT_TIME = #{importTime,jdbcType=TIMESTAMP},
      </if>
      <if test="manager != null">
        MANAGER = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        ACTIVE = #{active,jdbcType=CHAR},
      </if>
      <if test="effectedTime != null">
        EFFECTED_TIME = #{effectedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null">
        INVALID_TIME = #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR},
      </if>
      <if test="lastMonthFinishValue != null">
        LASTMONTH_FINISHVALUE = #{lastMonthFinishValue,jdbcType=VARCHAR},
      </if>
    </set>
    where INTIMERATE_ID = #{intimerateId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.DeliverIntimeRate">
    update REPORT_DELIVER_INTIME_RATE
    set DEPARTMENT = #{department,jdbcType=VARCHAR},
      TARGET_VALUE = #{targetValue,jdbcType=VARCHAR},
      TARGET_VALUE_MAX = #{targetValueMax,jdbcType=VARCHAR},
      TARGET_VALUE_MONTH = #{targetValueMonth,jdbcType=VARCHAR},
      IMPORT_TIME = #{importTime,jdbcType=TIMESTAMP},
      MANAGER = #{manager,jdbcType=VARCHAR},
      ACTIVE = #{active,jdbcType=CHAR},
      EFFECTED_TIME = #{effectedTime,jdbcType=TIMESTAMP},
      INVALID_TIME = #{invalidTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR},
      LASTMONTH_FINISHVALUE = #{lastMonthFinishValue,jdbcType=VARCHAR},
    where INTIMERATE_ID = #{intimerateId,jdbcType=DECIMAL}
  </update>
    <select id="queryDeliverIntimeRateByCondition" resultMap="BaseResultMap" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.DeliverIntimeRate">
    select 
    <include refid="Base_Column_List" />
    from REPORT_DELIVER_INTIME_RATE
      <where>
    	<if test="intimerateId != null and intimerateId != ''">
    	and INTIMERATE_ID = #{intimerateId,jdbcType=VARCHAR}
    	</if>
    	<if test="department != null and department != ''">
    	and DEPARTMENT = #{department,jdbcType=VARCHAR}
    	</if>
    	<if test="targetValue != null and targetValue != ''">
    	and TARGET_VALUE = #{targetValue,jdbcType=VARCHAR}
    	</if>
        <if test="targetValueMax != null">
        and TARGET_VALUE_MAX = #{targetValueMax,jdbcType=VARCHAR},
        </if>
    	<if test="targetValueMonth != null and targetValueMonth != ''">
    	and TARGET_VALUE_MONTH = #{targetValueMonth,jdbcType=VARCHAR}
    	</if>
    	<if test="importTime != null and importTime != ''">
    	and IMPORT_TIME = #{importTime,jdbcType=VARCHAR}
    	</if>
    	<if test="manager != null and manager != ''">
    	and MANAGER = #{manager,jdbcType=VARCHAR}
    	</if>
    	<if test="active != null and active != ''">
    	and ACTIVE = #{active,jdbcType=VARCHAR}
    	</if>
    	<if test="lastMonthFinishValue != null and lastMonthFinishValue != ''">
    	and LASTMONTH_FINISHVALUE = #{lastMonthFinishValue,jdbcType=VARCHAR}
    	</if>
    </where>
    order by IMPORT_TIME desc
  </select>
  <select id="queryDeliverIntimeRateCountByCondition" resultType="long" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.DeliverIntimeRate">
    select count(*)
    from REPORT_DELIVER_INTIME_RATE
     <where>
    	<if test="intimerateId != null and intimerateId != ''">
    	and INTIMERATE_ID = #{intimerateId,jdbcType=VARCHAR}
    	</if>
    	<if test="department != null and department != ''">
    	and DEPARTMENT = #{department,jdbcType=VARCHAR}
    	</if>
    	<if test="targetValue != null and targetValue != ''">
    	and TARGET_VALUE = #{targetValue,jdbcType=VARCHAR}
    	</if>
    	<if test="targetValueMonth != null and targetValueMonth != ''">
    	and TARGET_VALUE_MONTH = #{targetValueMonth,jdbcType=VARCHAR}
    	</if>
    	<if test="importTime != null and importTime != ''">
    	and IMPORT_TIME = #{importTime,jdbcType=VARCHAR}
    	</if>
    	<if test="manager != null and manager != ''">
    	and MANAGER = #{manager,jdbcType=VARCHAR}
    	</if>
    	<if test="active != null and active != ''">
    	and ACTIVE = #{active,jdbcType=VARCHAR}
    	</if>
    	<if test="lastMonthFinishValue != null and lastMonthFinishValue != ''">
    	and LASTMONTH_FINISHVALUE = #{lastMonthFinishValue,jdbcType=VARCHAR}
    	</if>
    </where>
  </select>
</mapper>