<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hoau.hoaureport.module.configreport.server.dao.MonthSqlEntityMapper" >
  <!--The file was generated on 2016-07-12 17:19:57 by 273503-->
  <resultMap id="BaseResultMap" type="com.hoau.hoaureport.module.configreport.shared.domain.MonthSqlEntity" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SQL_ID" property="sqlId" jdbcType="VARCHAR" />
    <result column="SQL_NAME" property="sqlName" jdbcType="VARCHAR" />
    <result column="SQL_SEQ" property="sqlSeq" jdbcType="DECIMAL" />
    <result column="ACTIVE" property="active" jdbcType="CHAR" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="MODIFIER" property="modifier" jdbcType="VARCHAR" />
    <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="SQL_TYPE" property="sqlType" jdbcType="VARCHAR" />
  	<result column="sqlBodyStr" property="sqlBodyStr" jdbcType="VARCHAR" />
  	<result column="CHAR_CODE" property="charCode" jdbcType="VARCHAR" />
  	<result column="REMARK" property="remark" jdbcType="VARCHAR" />
  	<result column="SQL_BODY" property="sqlBody" jdbcType="BLOB" />
  </resultMap>
  
  <resultMap id="ResultMapWithBLOBs" type="com.hoau.hoaureport.module.configreport.shared.domain.MonthSqlEntity" extends="BaseResultMap" >
    <result column="SQL_BODY" property="sqlBody" jdbcType="BLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, 
    SQL_ID, 
    SQL_NAME, 
    SQL_SEQ, 
    ACTIVE, 
    CREATOR, 
    CREATE_DATE, 
    MODIFIER, 
    MODIFY_DATE, 
    SQL_TYPE,
    CHAR_CODE,
    REMARK
  </sql>
  <sql id="Blob_Column_List" >
    SQL_BODY
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    <![CDATA[
    	select 
		    ID, 
		    SQL_ID, 
		    SQL_NAME, 
		    SQL_SEQ, 
		    ACTIVE, 
		    CREATOR, 
		    CREATE_DATE, 
		    MODIFIER, 
		    MODIFY_DATE, 
		    SQL_TYPE,
		    CHAR_CODE,
		    REMARK,
		    SQL_BODY
		    
	    from T_REPORT_MONTHSQL
	    where ID = #{id,jdbcType=VARCHAR}

	    and ACTIVE ='Y'
    
    
    ]]>
    
    
    
  </select>
  
  
  
  <select id="selectListBysqlType" resultMap="ResultMapWithBLOBs" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.MonthSqlEntity">
  	 <![CDATA[
    	select 
		    ID, 
		    SQL_ID, 
		    SQL_NAME, 
		    SQL_SEQ, 
		    ACTIVE, 
		    CREATOR, 
		    CREATE_DATE, 
		    MODIFIER, 
		    MODIFY_DATE, 
		    SQL_TYPE,
		    CHAR_CODE,
		    REMARK,
		    SQL_BODY
		    
	    from T_REPORT_MONTHSQL
	    where SQL_TYPE = #{sqlType,jdbcType=VARCHAR}
	    and ACTIVE ='Y'
	    order by SQL_SEQ asc 
	   ]]>
	   
  </select>
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_REPORT_MONTHSQL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.MonthSqlEntity" >
    insert into T_REPORT_MONTHSQL (ID, SQL_ID, SQL_NAME, 
      SQL_SEQ, ACTIVE, CREATOR, 
      CREATE_DATE, MODIFIER, MODIFY_DATE, 
      SQL_TYPE,CHAR_CODE, SQL_BODY,REMARK)
    values (#{id,jdbcType=VARCHAR}, #{sqlId,jdbcType=VARCHAR}, #{sqlName,jdbcType=VARCHAR}, 
      #{sqlSeq,jdbcType=DECIMAL}, #{active,jdbcType=CHAR}, #{creator,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{sqlType,jdbcType=VARCHAR},#{charCode,jdbcType=VARCHAR}, #{sqlBody,jdbcType=BLOB},#{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.MonthSqlEntity" >
    insert into T_REPORT_MONTHSQL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="sqlId != null" >
        SQL_ID,
      </if>
      <if test="sqlName != null" >
        SQL_NAME,
      </if>
      <if test="sqlSeq != null" >
        SQL_SEQ,
      </if>
      <if test="active != null" >
        ACTIVE,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="modifier != null" >
        MODIFIER,
      </if>
      <if test="modifyDate != null" >
        MODIFY_DATE,
      </if>
      <if test="sqlType != null" >
        SQL_TYPE,
      </if>
      <if test="charCode != null" >
        CHAR_CODE,
      </if>
      <if test="sqlBody != null" >
        SQL_BODY,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sqlId != null" >
        #{sqlId,jdbcType=VARCHAR},
      </if>
      <if test="sqlName != null" >
        #{sqlName,jdbcType=VARCHAR},
      </if>
      <if test="sqlSeq != null" >
        #{sqlSeq,jdbcType=DECIMAL},
      </if>
      <if test="active != null" >
        #{active,jdbcType=CHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sqlType != null" >
        #{sqlType,jdbcType=VARCHAR},
      </if>
       <if test="charCode != null" >
       	#{charCode,jdbcType=VARCHAR},
      </if>
      <if test="sqlBody != null" >
        #{sqlBody,jdbcType=BLOB},
      </if>
      <if test="remark != null" >
       	#{remark,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.MonthSqlEntity" >
    update T_REPORT_MONTHSQL
    <set >
      <if test="sqlName != null" >
        SQL_NAME = #{sqlName,jdbcType=VARCHAR},
      </if>
      <if test="sqlSeq != null" >
        SQL_SEQ = #{sqlSeq,jdbcType=DECIMAL},
      </if>
      <if test="active != null" >
        ACTIVE = #{active,jdbcType=CHAR},
      </if>
      <if test="modifier != null" >
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifyDate != null" >
        MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      </if>

      <if test="charCode != null" >
       	CHAR_CODE = #{charCode,jdbcType=VARCHAR},
      </if>
      <if test="sqlBody != null" >
        SQL_BODY = #{sqlBody,jdbcType=BLOB},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.MonthSqlEntity" >
    update T_REPORT_MONTHSQL
    set SQL_ID = #{sqlId,jdbcType=VARCHAR},
      SQL_NAME = #{sqlName,jdbcType=VARCHAR},
      SQL_SEQ = #{sqlSeq,jdbcType=DECIMAL},
      ACTIVE = #{active,jdbcType=CHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      MODIFIER = #{modifier,jdbcType=VARCHAR},
      MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      SQL_TYPE = #{sqlType,jdbcType=VARCHAR},
      SQL_BODY = #{sqlBody,jdbcType=BLOB},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.MonthSqlEntity" >
    update T_REPORT_MONTHSQL
    set SQL_ID = #{sqlId,jdbcType=VARCHAR},
      SQL_NAME = #{sqlName,jdbcType=VARCHAR},
      SQL_SEQ = #{sqlSeq,jdbcType=DECIMAL},
      ACTIVE = #{active,jdbcType=CHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      MODIFIER = #{modifier,jdbcType=VARCHAR},
      MODIFY_DATE = #{modifyDate,jdbcType=TIMESTAMP},
      SQL_TYPE = #{sqlType,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <sql id="base_where_id">
  	where 
	     ACTIVE ='Y'
	    <if test="sqlType !=null and sqlType!=''">
	    	and SQL_TYPE = #{sqlType,jdbcType=VARCHAR}
	    </if>
	    <if test="remark !=null and remark !=''">
	    	and REMARK = #{remark,jdbcType=VARCHAR}
	    </if>
	    <if test="id !=null and id !=''">
	    	and ID = #{id,jdbcType=VARCHAR}
	    </if>
	    <if test="sqlId !=null and sqlId !=''">
	    	and SQL_ID = #{sqlId,jdbcType=VARCHAR}
	    </if>
	    
	    
  </sql>
  
  
  <select id="queryTotalCount" resultType="long" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.MonthSqlEntity">
  	select count(1) from T_REPORT_MONTHSQL 
  	<include refid="base_where_id"/>
  	
  </select>
  
  <select id="queryMonthSql" resultMap="ResultMapWithBLOBs" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.MonthSqlEntity">
  	
  		select 
			ID, 
		    SQL_ID, 
		    SQL_NAME, 
		    SQL_SEQ, 
		    ACTIVE, 
		    CREATOR, 
		    CREATE_DATE, 
		    MODIFIER, 
		    MODIFY_DATE, 
		    SQL_TYPE,
		    CHAR_CODE,
		    REMARK,
		    SQL_BODY

 		from T_REPORT_MONTHSQL
  		<include refid="base_where_id"/>
  		order by SQL_SEQ desc 
  </select>
  
  
</mapper>