<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoau.hoaureport.module.configreport.server.dao.PlatFullRateMapper">
  <resultMap id="BaseResultMap" type="com.hoau.hoaureport.module.configreport.shared.domain.PlatFullRate">
    <result column="DEPARTMENT" jdbcType="VARCHAR" property="department" />
    <result column="TARGET_VALUE" jdbcType="VARCHAR" property="targetValue" />
    <result column="TARGET_VALUE_MONTH" jdbcType="VARCHAR" property="targetValueMonth" />
    <result column="IMPORT_TIME" jdbcType="TIMESTAMP" property="importTime" />
    <result column="IMPORT_USER" jdbcType="VARCHAR" property="importUser" />
    <result column="LASTMONTH_FINISHVALUE" jdbcType="CHAR" property="lastMonthFinishValue" />
  </resultMap>

  <!-- 查询参数 -->
  <sql id="query_list">
    R.DEPARTMENT,
    R.TARGET_VALUE,
    R.TARGET_VALUE_MONTH,
    R.IMPORT_TIME,
    R.IMPORT_USER,
    R.LASTMONTH_FINISHVALUE
  </sql>

  <!-- 查询条件 -->
  <sql id="query_condition">
    <where>
      <if test="department != null and department != ''">
        and R.DEPARTMENT LIKE CONCAT(CONCAT('%', #{department,jdbcType=VARCHAR} ), '%')
      </if>
      <if test="targetValueMonth != null and targetValueMonth != ''">
        and R.TARGET_VALUE_MONTH = #{targetValueMonth,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>

  <!-- 查询列表 -->
  <select id="queryPlatFullRate" resultMap="BaseResultMap" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.PlatFullRate">
    select
      <include refid="query_list" />
    from REPORT_PLAT_FULL_RATE R
      <include refid="query_condition"/>
    order by IMPORT_TIME desc
  </select>
  <!-- 查询总数 -->
  <select id="queryPlatFullRateCount" resultType="long" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.PlatFullRate">
    select
      count(*)
    from REPORT_PLAT_FULL_RATE R
      <include refid="query_condition"/>
  </select>

  <!-- 插入目标值数据 -->
  <insert id="insert" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.PlatFullRate">
    insert into REPORT_PLAT_FULL_RATE R (
      R.DEPARTMENT,
      R.TARGET_VALUE,
      R.TARGET_VALUE_MONTH,
      R.IMPORT_TIME,
      R.IMPORT_USER,
      R.LASTMONTH_FINISHVALUE
    )
    values (
      #{department,jdbcType=VARCHAR},
      #{targetValue,jdbcType=VARCHAR},
      #{targetValueMonth,jdbcType=VARCHAR},
      #{importTime,jdbcType=TIMESTAMP},
      #{importUser,jdbcType=VARCHAR},
      #{lastMonthFinishValue,jdbcType=VARCHAR})
  </insert>

  <!-- 修改目标值数据 -->
  <update id="update" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.PlatFullRate">
    update REPORT_PLAT_FULL_RATE R
    set
      R.DEPARTMENT = #{department,jdbcType=VARCHAR},
      R.TARGET_VALUE = #{targetValue,jdbcType=VARCHAR},
      R.TARGET_VALUE_MONTH = #{targetValueMonth,jdbcType=VARCHAR},
      R.IMPORT_TIME = #{importTime,jdbcType=TIMESTAMP},
      R.IMPORT_USER = #{importUser,jdbcType=VARCHAR},
      R.LASTMONTH_FINISHVALUE = #{lastMonthFinishValue,jdbcType=VARCHAR}
    WHERE R.DEPARTMENT = #{department,jdbcType=VARCHAR} AND R.TARGET_VALUE_MONTH = #{targetValueMonth,jdbcType=VARCHAR}
  </update>

</mapper>