<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoau.hoaureport.module.configreport.server.dao.SalesLineMapper">
  <resultMap id="BaseResultMap" type="com.hoau.hoaureport.module.configreport.shared.domain.SalesLine">
    <id column="SALES_LINE_ID" jdbcType="DECIMAL" property="slId" />
    <result column="LINE_NUM" jdbcType="VARCHAR" property="lineNum" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
    <result column="SALES_LINE_NAME" jdbcType="VARCHAR" property="salesLineName" />
    <result column="LOADING_PORT" jdbcType="VARCHAR" property="loadingPort" />
    <result column="LOADING_PORT_ID" jdbcType="VARCHAR" property="loadingPortId" />
    <result column="TRANSIT_DEPOT1" jdbcType="VARCHAR" property="transitDepot1" />
    <result column="TRANSIT_DEPOT2" jdbcType="VARCHAR" property="transitDepot2" />
    <result column="TERMINI" jdbcType="VARCHAR" property="termint" />
    <result column="TERMINI_ID" jdbcType="VARCHAR" property="termintId" />
    <result column="RELY1CLASS" jdbcType="VARCHAR" property="rely1Class" />
    <result column="RELY2CLASS" jdbcType="VARCHAR" property="rely2Class" />
    <result column="RELY3CLASS" jdbcType="VARCHAR" property="rely3Class" />
    <result column="LINE1" jdbcType="VARCHAR" property="line1" />
    <result column="LINE2" jdbcType="VARCHAR" property="line2" />
    <result column="LINE3" jdbcType="VARCHAR" property="line3" />
    <result column="NO_TRANSFER_ARRIVAL" jdbcType="TIMESTAMP" property="noTransferArrival" />
    <result column="ONE_TRANSFER_ARRIVAL" jdbcType="TIMESTAMP" property="oneTransferArrival" />
    <result column="TWO_TRANSFER_ARRIVAL" jdbcType="TIMESTAMP" property="twoTransferArrival" />
    <result column="BREAK_ONE_DAY_TIMES" jdbcType="VARCHAR" property="breakOneDayTimes" />
    <result column="BREAK_TWO_DAYS_TIMES" jdbcType="VARCHAR" property="breakTwoDaysTimes" />
    <result column="RELY_LINE1" jdbcType="VARCHAR" property="relyLine1" />
    <result column="RELY_LINE2" jdbcType="VARCHAR" property="relyLine2" />
    <result column="RELY_LINE3" jdbcType="VARCHAR" property="relyLine3" />
    <result column="DISPATCH0_AND1" jdbcType="CHAR" property="dispatchDayAndNextDayNum" />
    <result column="LOADING_PORT_FIRST_LEVEL_DISPA" jdbcType="TIMESTAMP" property="loadingPortFirstLevelDispa" />
    <result column="TRANSIT_DEPOT1_DISPATCH_TIME" jdbcType="TIMESTAMP" property="transitDepot1DispatchTime" />
    <result column="TRANSIT_DEPOT2_DISPATCH_TIME" jdbcType="TIMESTAMP" property="transitDepot2DispatchTime" />
    <result column="TRANSIT_DEPOT1_ARRIVAL_TIME" jdbcType="TIMESTAMP" property="transitDepot1ArraivalTime" />
    <result column="TRANSIT_DEPOT2_ARRIVAL_TIME" jdbcType="TIMESTAMP" property="transitDepot2ArraivalTime" />
    <result column="TERMINI_FIRST_ARRIVAL_TIME" jdbcType="TIMESTAMP" property="termitFirstArrivalTime" />
    <result column="TRANSIT_HOURS1" jdbcType="DECIMAL" property="transitHours1" />
    <result column="TRANSIT_HOURS2" jdbcType="DECIMAL" property="transitHours2" />
    <result column="TRANSIT_HOURS3" jdbcType="DECIMAL" property="transitHours3" />
    <result column="BREAK_HOURS1" jdbcType="DECIMAL" property="breakHours1" />
    <result column="BREAK_HOURS2" jdbcType="DECIMAL" property="breakHours2" />
    <result column="HOURS_IN_TRANSIT" jdbcType="DECIMAL" property="hoursInTransit" />
    <result column="UNLOAD_HOURS" jdbcType="DECIMAL" property="unloadHours" />
    <result column="TERMINAL_SHORT_LONG_LINES" jdbcType="CHAR" property="terminalShortLongLines" />
    <result column="ARRIVAL0_AND1" jdbcType="CHAR" property="arrival0And1" />
    <result column="OPEN_MONTH" jdbcType="VARCHAR" property="openMonth" />
    <result column="LINE_STATUS" jdbcType="VARCHAR" property="lineStatus" />
    <result column="PICKUP_DAYS" jdbcType="VARCHAR" property="pickupDays" />
    <result column="DELIVER_DAYS" jdbcType="VARCHAR" property="deliverDays" />
    <result column="MONDAY" jdbcType="CHAR" property="monday" />
    <result column="TUESDAY" jdbcType="CHAR" property="tuesday" />
    <result column="WEDNESDAY" jdbcType="CHAR" property="wednesday" />
    <result column="THURSDAY" jdbcType="CHAR" property="thusday" />
    <result column="FRIDAY" jdbcType="CHAR" property="friday" />
    <result column="SATURDAY" jdbcType="CHAR" property="saturday" />
    <result column="SUNDAY" jdbcType="CHAR" property="sunday" />
    <result column="TIMELY_NOTE" jdbcType="VARCHAR" property="timelyNote" />
    <result column="OPEN_LINE_YEAR" jdbcType="VARCHAR" property="openLineYear" />
    <result column="IS_OPEN_GOLDEN100_LINES" jdbcType="VARCHAR" property="isOpenGolden100Lines" />
    <result column="STANDARD_NOTE" jdbcType="VARCHAR" property="standardNote" />
    <result column="LINE_PARTNER" jdbcType="VARCHAR" property="linePartner" />
    <result column="ACTIVE" jdbcType="CHAR" property="active" />
    <result column="EFFECTED_TIME" jdbcType="TIMESTAMP" property="effectedTime" />
    <result column="INVALID_TIME" jdbcType="TIMESTAMP" property="invalidTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER_CODE" jdbcType="VARCHAR" property="createUserCode" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="MODIFY_USER_CODE" jdbcType="VARCHAR" property="modifyUserCode" />
  </resultMap>
  <sql id="Base_Column_List">
    SALES_LINE_ID, LINE_NUM, NOTE, SALES_LINE_NAME, LOADING_PORT, LOADING_PORT_ID, TRANSIT_DEPOT1, 
    TRANSIT_DEPOT2, TERMINI, TERMINI_ID, RELY1CLASS, RELY2CLASS, RELY3CLASS, LINE1, LINE2, 
    LINE3, NO_TRANSFER_ARRIVAL, ONE_TRANSFER_ARRIVAL, TWO_TRANSFER_ARRIVAL, BREAK_ONE_DAY_TIMES, 
    BREAK_TWO_DAYS_TIMES, RELY_LINE1, RELY_LINE2, RELY_LINE3, 
    DISPATCH0_AND1, LOADING_PORT_FIRST_LEVEL_DISPA, TRANSIT_DEPOT1_DISPATCH_TIME, TRANSIT_DEPOT2_DISPATCH_TIME, 
    TRANSIT_DEPOT1_ARRIVAL_TIME, TRANSIT_DEPOT2_ARRIVAL_TIME, TERMINI_FIRST_ARRIVAL_TIME, 
    TRANSIT_HOURS1, TRANSIT_HOURS2, TRANSIT_HOURS3, BREAK_HOURS1, BREAK_HOURS2, HOURS_IN_TRANSIT, 
    UNLOAD_HOURS, TERMINAL_SHORT_LONG_LINES, ARRIVAL0_AND1, 
    OPEN_MONTH, LINE_STATUS, PICKUP_DAYS, DELIVER_DAYS, MONDAY, TUESDAY, WEDNESDAY, THURSDAY, 
    FRIDAY, SATURDAY, SUNDAY, TIMELY_NOTE, OPEN_LINE_YEAR, IS_OPEN_GOLDEN100_LINES, STANDARD_NOTE, 
    LINE_PARTNER, ACTIVE, EFFECTED_TIME, INVALID_TIME, CREATE_TIME, CREATE_USER_CODE, 
    MODIFY_TIME, MODIFY_USER_CODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from REPORT_SALES_LINE
    where SALES_LINE_ID = #{slId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from REPORT_SALES_LINE
    where SALES_LINE_ID = #{slId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SalesLine">
    insert into REPORT_SALES_LINE (SALES_LINE_ID, LINE_NUM, NOTE, 
      SALES_LINE_NAME, LOADING_PORT, LOADING_PORT_ID, 
      TRANSIT_DEPOT1, TRANSIT_DEPOT2, TERMINI, 
      TERMINI_ID, RELY1CLASS, RELY2CLASS, 
      RELY3CLASS, LINE1, LINE2, 
      LINE3, NO_TRANSFER_ARRIVAL, ONE_TRANSFER_ARRIVAL, 
      TWO_TRANSFER_ARRIVAL, BREAK_ONE_DAY_TIMES, BREAK_TWO_DAYS_TIMES, 
      RELY_LINE1, RELY_LINE2, RELY_LINE3
      , DISPATCH0_AND1, 
      LOADING_PORT_FIRST_LEVEL_DISPA, TRANSIT_DEPOT1_DISPATCH_TIME, 
      TRANSIT_DEPOT2_DISPATCH_TIME, TRANSIT_DEPOT1_ARRIVAL_TIME, 
      TRANSIT_DEPOT2_ARRIVAL_TIME, TERMINI_FIRST_ARRIVAL_TIME, 
      TRANSIT_HOURS1, TRANSIT_HOURS2, TRANSIT_HOURS3, 
      BREAK_HOURS1, BREAK_HOURS2, HOURS_IN_TRANSIT, 
      UNLOAD_HOURS, TERMINAL_SHORT_LONG_LINES, 
      ARRIVAL0_AND1, OPEN_MONTH, LINE_STATUS, 
      PICKUP_DAYS, DELIVER_DAYS, MONDAY, 
      TUESDAY, WEDNESDAY, THURSDAY, 
      FRIDAY, SATURDAY, SUNDAY, TIMELY_NOTE, 
      OPEN_LINE_YEAR, IS_OPEN_GOLDEN100_LINES, STANDARD_NOTE, 
      LINE_PARTNER, ACTIVE, EFFECTED_TIME, 
      INVALID_TIME, CREATE_TIME, CREATE_USER_CODE, 
      MODIFY_TIME, MODIFY_USER_CODE)
    values (SEQ_SALES_LINE_ID.Nextval, #{lineNum,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{salesLineName,jdbcType=VARCHAR}, #{loadingPort,jdbcType=VARCHAR}, #{loadingPortId,jdbcType=VARCHAR}, 
      #{transitDepot1,jdbcType=VARCHAR}, #{transitDepot2,jdbcType=VARCHAR}, #{termint,jdbcType=VARCHAR}, 
      #{termintId,jdbcType=VARCHAR}, #{rely1Class,jdbcType=VARCHAR}, #{rely2Class,jdbcType=VARCHAR}, 
      #{rely3Class,jdbcType=VARCHAR}, #{line1,jdbcType=VARCHAR}, #{line2,jdbcType=VARCHAR}, 
      #{line3,jdbcType=VARCHAR}, #{noTransferArrival,jdbcType=TIMESTAMP}, #{oneTransferArrival,jdbcType=TIMESTAMP}, 
      #{twoTransferArrival,jdbcType=TIMESTAMP}, #{breakOneDayTimes,jdbcType=VARCHAR}, #{breakTwoDaysTimes,jdbcType=VARCHAR}, 
      #{relyLine1,jdbcType=VARCHAR}, #{relyLine2,jdbcType=VARCHAR}, #{relyLine3,jdbcType=VARCHAR}, 
      #{dispatchDayAndNextDayNum,jdbcType=CHAR}, 
      #{loadingPortFirstLevelDispa,jdbcType=TIMESTAMP}, #{transitDepot1DispatchTime,jdbcType=TIMESTAMP}, 
      #{transitDepot2DispatchTime,jdbcType=TIMESTAMP}, #{transitDepot1ArraivalTime,jdbcType=TIMESTAMP}, 
      #{transitDepot2ArraivalTime,jdbcType=TIMESTAMP}, #{termitFirstArrivalTime,jdbcType=TIMESTAMP}, 
      #{transitHours1,jdbcType=DECIMAL}, #{transitHours2,jdbcType=DECIMAL}, #{transitHours3,jdbcType=DECIMAL}, 
      #{breakHours1,jdbcType=DECIMAL}, #{breakHours2,jdbcType=DECIMAL}, #{hoursInTransit,jdbcType=DECIMAL}, 
      #{unloadHours,jdbcType=DECIMAL}, #{terminalShortLongLines,jdbcType=CHAR},
      #{arrival0And1,jdbcType=CHAR}, #{openMonth,jdbcType=VARCHAR}, #{lineStatus,jdbcType=VARCHAR}, 
      #{pickupDays,jdbcType=VARCHAR}, #{deliverDays,jdbcType=VARCHAR}, #{monday,jdbcType=CHAR}, 
      #{tuesday,jdbcType=CHAR}, #{wednesday,jdbcType=CHAR}, #{thusday,jdbcType=CHAR}, 
      #{friday,jdbcType=CHAR}, #{saturday,jdbcType=CHAR}, #{sunday,jdbcType=CHAR}, #{timelyNote,jdbcType=VARCHAR}, 
      #{openLineYear,jdbcType=VARCHAR}, #{isOpenGolden100Lines,jdbcType=VARCHAR}, #{standardNote,jdbcType=VARCHAR}, 
      #{linePartner,jdbcType=VARCHAR}, #{active,jdbcType=CHAR}, #{effectedTime,jdbcType=TIMESTAMP}, 
      #{invalidTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{createUserCode,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{modifyUserCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SalesLine">
    insert into REPORT_SALES_LINE
    <trim prefix="(" suffix=")" suffixOverrides=",">
        SALES_LINE_ID,
      <if test="lineNum != null">
        LINE_NUM,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="salesLineName != null">
        SALES_LINE_NAME,
      </if>
      <if test="loadingPort != null">
        LOADING_PORT,
      </if>
      <if test="loadingPortId != null">
        LOADING_PORT_ID,
      </if>
      <if test="transitDepot1 != null">
        TRANSIT_DEPOT1,
      </if>
      <if test="transitDepot2 != null">
        TRANSIT_DEPOT2,
      </if>
      <if test="termint != null">
        TERMINI,
      </if>
      <if test="termintId != null">
        TERMINI_ID,
      </if>
      <if test="rely1Class != null">
        RELY1CLASS,
      </if>
      <if test="rely2Class != null">
        RELY2CLASS,
      </if>
      <if test="rely3Class != null">
        RELY3CLASS,
      </if>
      <if test="line1 != null">
        LINE1,
      </if>
      <if test="line2 != null">
        LINE2,
      </if>
      <if test="line3 != null">
        LINE3,
      </if>
      <if test="noTransferArrival != null">
        NO_TRANSFER_ARRIVAL,
      </if>
      <if test="oneTransferArrival != null">
        ONE_TRANSFER_ARRIVAL,
      </if>
      <if test="twoTransferArrival != null">
        TWO_TRANSFER_ARRIVAL,
      </if>
      <if test="breakOneDayTimes != null">
        BREAK_ONE_DAY_TIMES,
      </if>
      <if test="breakTwoDaysTimes != null">
        BREAK_TWO_DAYS_TIMES,
      </if>
      <if test="relyLine1 != null">
        RELY_LINE1,
      </if>
      <if test="relyLine2 != null">
        RELY_LINE2,
      </if>
      <if test="relyLine3 != null">
        RELY_LINE3,
      </if>
      <if test="dispatchDayAndNextDayNum != null">
        DISPATCH0_AND1,
      </if>
      <if test="loadingPortFirstLevelDispa != null">
        LOADING_PORT_FIRST_LEVEL_DISPA,
      </if>
      <if test="transitDepot1DispatchTime != null">
        TRANSIT_DEPOT1_DISPATCH_TIME,
      </if>
      <if test="transitDepot2DispatchTime != null">
        TRANSIT_DEPOT2_DISPATCH_TIME,
      </if>
      <if test="transitDepot1ArraivalTime != null">
        TRANSIT_DEPOT1_ARRIVAL_TIME,
      </if>
      <if test="transitDepot2ArraivalTime != null">
        TRANSIT_DEPOT2_ARRIVAL_TIME,
      </if>
      <if test="termitFirstArrivalTime != null">
        TERMINI_FIRST_ARRIVAL_TIME,
      </if>
      <if test="transitHours1 != null">
        TRANSIT_HOURS1,
      </if>
      <if test="transitHours2 != null">
        TRANSIT_HOURS2,
      </if>
      <if test="transitHours3 != null">
        TRANSIT_HOURS3,
      </if>
      <if test="breakHours1 != null">
        BREAK_HOURS1,
      </if>
      <if test="breakHours2 != null">
        BREAK_HOURS2,
      </if>
      <if test="hoursInTransit != null">
        HOURS_IN_TRANSIT,
      </if>
      <if test="unloadHours != null">
        UNLOAD_HOURS,
      </if>
      <if test="terminalShortLongLines != null">
        TERMINAL_SHORT_LONG_LINES,
      </if>
      <if test="arrival0And1 != null">
        ARRIVAL0_AND1,
      </if>
      <if test="openMonth != null">
        OPEN_MONTH,
      </if>
      <if test="lineStatus != null">
        LINE_STATUS,
      </if>
      <if test="pickupDays != null">
        PICKUP_DAYS,
      </if>
      <if test="deliverDays != null">
        DELIVER_DAYS,
      </if>
      <if test="monday != null">
        MONDAY,
      </if>
      <if test="tuesday != null">
        TUESDAY,
      </if>
      <if test="wednesday != null">
        WEDNESDAY,
      </if>
      <if test="thusday != null">
        THURSDAY,
      </if>
      <if test="friday != null">
        FRIDAY,
      </if>
      <if test="saturday != null">
        SATURDAY,
      </if>
      <if test="sunday != null">
        SUNDAY,
      </if>
      <if test="timelyNote != null">
        TIMELY_NOTE,
      </if>
      <if test="openLineYear != null">
        OPEN_LINE_YEAR,
      </if>
      <if test="isOpenGolden100Lines != null">
        IS_OPEN_GOLDEN100_LINES,
      </if>
      <if test="standardNote != null">
        STANDARD_NOTE,
      </if>
      <if test="linePartner != null">
        LINE_PARTNER,
      </if>
      <if test="active != null">
        ACTIVE,
      </if>
      <if test="effectedTime != null">
        EFFECTED_TIME,
      </if>
      <if test="invalidTime != null">
        INVALID_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        SEQ_SALES_LINE_ID.Nextval,
      <if test="lineNum != null">
        #{lineNum,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="salesLineName != null">
        #{salesLineName,jdbcType=VARCHAR},
      </if>
      <if test="loadingPort != null">
        #{loadingPort,jdbcType=VARCHAR},
      </if>
      <if test="loadingPortId != null">
        #{loadingPortId,jdbcType=VARCHAR},
      </if>
      <if test="transitDepot1 != null">
        #{transitDepot1,jdbcType=VARCHAR},
      </if>
      <if test="transitDepot2 != null">
        #{transitDepot2,jdbcType=VARCHAR},
      </if>
      <if test="termint != null">
        #{termint,jdbcType=VARCHAR},
      </if>
      <if test="termintId != null">
        #{termintId,jdbcType=VARCHAR},
      </if>
      <if test="rely1Class != null">
        #{rely1Class,jdbcType=VARCHAR},
      </if>
      <if test="rely2Class != null">
        #{rely2Class,jdbcType=VARCHAR},
      </if>
      <if test="rely3Class != null">
        #{rely3Class,jdbcType=VARCHAR},
      </if>
      <if test="line1 != null">
        #{line1,jdbcType=VARCHAR},
      </if>
      <if test="line2 != null">
        #{line2,jdbcType=VARCHAR},
      </if>
      <if test="line3 != null">
        #{line3,jdbcType=VARCHAR},
      </if>
      <if test="noTransferArrival != null">
        #{noTransferArrival,jdbcType=TIMESTAMP},
      </if>
      <if test="oneTransferArrival != null">
        #{oneTransferArrival,jdbcType=TIMESTAMP},
      </if>
      <if test="twoTransferArrival != null">
        #{twoTransferArrival,jdbcType=TIMESTAMP},
      </if>
      <if test="breakOneDayTimes != null">
        #{breakOneDayTimes,jdbcType=VARCHAR},
      </if>
      <if test="breakTwoDaysTimes != null">
        #{breakTwoDaysTimes,jdbcType=VARCHAR},
      </if>
      <if test="relyLine1 != null">
        #{relyLine1,jdbcType=VARCHAR},
      </if>
      <if test="relyLine2 != null">
        #{relyLine2,jdbcType=VARCHAR},
      </if>
      <if test="relyLine3 != null">
        #{relyLine3,jdbcType=VARCHAR},
      </if>
      <if test="dispatchDayAndNextDayNum != null">
        #{dispatchDayAndNextDayNum,jdbcType=CHAR},
      </if>
      <if test="loadingPortFirstLevelDispa != null">
        #{loadingPortFirstLevelDispa,jdbcType=TIMESTAMP},
      </if>
      <if test="transitDepot1DispatchTime != null">
        #{transitDepot1DispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transitDepot2DispatchTime != null">
        #{transitDepot2DispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transitDepot1ArraivalTime != null">
        #{transitDepot1ArraivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transitDepot2ArraivalTime != null">
        #{transitDepot2ArraivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="termitFirstArrivalTime != null">
        #{termitFirstArrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transitHours1 != null">
        #{transitHours1,jdbcType=DECIMAL},
      </if>
      <if test="transitHours2 != null">
        #{transitHours2,jdbcType=DECIMAL},
      </if>
      <if test="transitHours3 != null">
        #{transitHours3,jdbcType=DECIMAL},
      </if>
      <if test="breakHours1 != null">
        #{breakHours1,jdbcType=DECIMAL},
      </if>
      <if test="breakHours2 != null">
        #{breakHours2,jdbcType=DECIMAL},
      </if>
      <if test="hoursInTransit != null">
        #{hoursInTransit,jdbcType=DECIMAL},
      </if>
      <if test="unloadHours != null">
        #{unloadHours,jdbcType=DECIMAL},
      </if>
      <if test="terminalShortLongLines != null">
        #{terminalShortLongLines,jdbcType=CHAR},
      </if>
      <if test="arrival0And1 != null">
        #{arrival0And1,jdbcType=CHAR},
      </if>
      <if test="openMonth != null">
        #{openMonth,jdbcType=VARCHAR},
      </if>
      <if test="lineStatus != null">
        #{lineStatus,jdbcType=VARCHAR},
      </if>
      <if test="pickupDays != null">
        #{pickupDays,jdbcType=VARCHAR},
      </if>
      <if test="deliverDays != null">
        #{deliverDays,jdbcType=VARCHAR},
      </if>
      <if test="monday != null">
        #{monday,jdbcType=CHAR},
      </if>
      <if test="tuesday != null">
        #{tuesday,jdbcType=CHAR},
      </if>
      <if test="wednesday != null">
        #{wednesday,jdbcType=CHAR},
      </if>
      <if test="thusday != null">
        #{thusday,jdbcType=CHAR},
      </if>
      <if test="friday != null">
        #{friday,jdbcType=CHAR},
      </if>
      <if test="saturday != null">
        #{saturday,jdbcType=CHAR},
      </if>
      <if test="sunday != null">
        #{sunday,jdbcType=CHAR},
      </if>
      <if test="timelyNote != null">
        #{timelyNote,jdbcType=VARCHAR},
      </if>
      <if test="openLineYear != null">
        #{openLineYear,jdbcType=VARCHAR},
      </if>
      <if test="isOpenGolden100Lines != null">
        #{isOpenGolden100Lines,jdbcType=VARCHAR},
      </if>
      <if test="standardNote != null">
        #{standardNote,jdbcType=VARCHAR},
      </if>
      <if test="linePartner != null">
        #{linePartner,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=CHAR},
      </if>
      <if test="effectedTime != null">
        #{effectedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null">
        #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserCode != null">
        #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserCode != null">
        #{modifyUserCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SalesLine">
    update REPORT_SALES_LINE
    <set>
      <if test="lineNum != null">
        LINE_NUM = #{lineNum,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="salesLineName != null">
        SALES_LINE_NAME = #{salesLineName,jdbcType=VARCHAR},
      </if>
      <if test="loadingPort != null">
        LOADING_PORT = #{loadingPort,jdbcType=VARCHAR},
      </if>
      <if test="loadingPortId != null">
        LOADING_PORT_ID = #{loadingPortId,jdbcType=VARCHAR},
      </if>
      <if test="transitDepot1 != null">
        TRANSIT_DEPOT1 = #{transitDepot1,jdbcType=VARCHAR},
      </if>
      <if test="transitDepot2 != null">
        TRANSIT_DEPOT2 = #{transitDepot2,jdbcType=VARCHAR},
      </if>
      <if test="termint != null">
        TERMINI = #{termint,jdbcType=VARCHAR},
      </if>
      <if test="termintId != null">
        TERMINI_ID = #{termintId,jdbcType=VARCHAR},
      </if>
      <if test="rely1Class != null">
        RELY1CLASS = #{rely1Class,jdbcType=VARCHAR},
      </if>
      <if test="rely2Class != null">
        RELY2CLASS = #{rely2Class,jdbcType=VARCHAR},
      </if>
      <if test="rely3Class != null">
        RELY3CLASS = #{rely3Class,jdbcType=VARCHAR},
      </if>
      <if test="line1 != null">
        LINE1 = #{line1,jdbcType=VARCHAR},
      </if>
      <if test="line2 != null">
        LINE2 = #{line2,jdbcType=VARCHAR},
      </if>
      <if test="line3 != null">
        LINE3 = #{line3,jdbcType=VARCHAR},
      </if>
      <if test="noTransferArrival != null">
        NO_TRANSFER_ARRIVAL = #{noTransferArrival,jdbcType=TIMESTAMP},
      </if>
      <if test="oneTransferArrival != null">
        ONE_TRANSFER_ARRIVAL = #{oneTransferArrival,jdbcType=TIMESTAMP},
      </if>
      <if test="twoTransferArrival != null">
        TWO_TRANSFER_ARRIVAL = #{twoTransferArrival,jdbcType=TIMESTAMP},
      </if>
      <if test="breakOneDayTimes != null">
        BREAK_ONE_DAY_TIMES = #{breakOneDayTimes,jdbcType=VARCHAR},
      </if>
      <if test="breakTwoDaysTimes != null">
        BREAK_TWO_DAYS_TIMES = #{breakTwoDaysTimes,jdbcType=VARCHAR},
      </if>
      <if test="relyLine1 != null">
        RELY_LINE1 = #{relyLine1,jdbcType=VARCHAR},
      </if>
      <if test="relyLine2 != null">
        RELY_LINE2 = #{relyLine2,jdbcType=VARCHAR},
      </if>
      <if test="relyLine3 != null">
        RELY_LINE3 = #{relyLine3,jdbcType=VARCHAR},
      </if>
      <if test="dispatchDayAndNextDayNum != null">
        DISPATCH0_AND1 = #{dispatchDayAndNextDayNum,jdbcType=CHAR},
      </if>
      <if test="loadingPortFirstLevelDispa != null">
        LOADING_PORT_FIRST_LEVEL_DISPA = #{loadingPortFirstLevelDispa,jdbcType=TIMESTAMP},
      </if>
      <if test="transitDepot1DispatchTime != null">
        TRANSIT_DEPOT1_DISPATCH_TIME = #{transitDepot1DispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transitDepot2DispatchTime != null">
        TRANSIT_DEPOT2_DISPATCH_TIME = #{transitDepot2DispatchTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transitDepot1ArraivalTime != null">
        TRANSIT_DEPOT1_ARRIVAL_TIME = #{transitDepot1ArraivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transitDepot2ArraivalTime != null">
        TRANSIT_DEPOT2_ARRIVAL_TIME = #{transitDepot2ArraivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="termitFirstArrivalTime != null">
        TERMINI_FIRST_ARRIVAL_TIME = #{termitFirstArrivalTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transitHours1 != null">
        TRANSIT_HOURS1 = #{transitHours1,jdbcType=DECIMAL},
      </if>
      <if test="transitHours2 != null">
        TRANSIT_HOURS2 = #{transitHours2,jdbcType=DECIMAL},
      </if>
      <if test="transitHours3 != null">
        TRANSIT_HOURS3 = #{transitHours3,jdbcType=DECIMAL},
      </if>
      <if test="breakHours1 != null">
        BREAK_HOURS1 = #{breakHours1,jdbcType=DECIMAL},
      </if>
      <if test="breakHours2 != null">
        BREAK_HOURS2 = #{breakHours2,jdbcType=DECIMAL},
      </if>
      <if test="hoursInTransit != null">
        HOURS_IN_TRANSIT = #{hoursInTransit,jdbcType=DECIMAL},
      </if>
      <if test="unloadHours != null">
        UNLOAD_HOURS = #{unloadHours,jdbcType=DECIMAL},
      </if>
      <if test="terminalShortLongLines != null">
        TERMINAL_SHORT_LONG_LINES = #{terminalShortLongLines,jdbcType=CHAR},
      </if>
      <if test="arrival0And1 != null">
        ARRIVAL0_AND1 = #{arrival0And1,jdbcType=CHAR},
      </if>
      <if test="openMonth != null">
        OPEN_MONTH = #{openMonth,jdbcType=VARCHAR},
      </if>
      <if test="lineStatus != null">
        LINE_STATUS = #{lineStatus,jdbcType=VARCHAR},
      </if>
      <if test="pickupDays != null">
        PICKUP_DAYS = #{pickupDays,jdbcType=VARCHAR},
      </if>
      <if test="deliverDays != null">
        DELIVER_DAYS = #{deliverDays,jdbcType=VARCHAR},
      </if>
      <if test="monday != null">
        MONDAY = #{monday,jdbcType=CHAR},
      </if>
      <if test="tuesday != null">
        TUESDAY = #{tuesday,jdbcType=CHAR},
      </if>
      <if test="wednesday != null">
        WEDNESDAY = #{wednesday,jdbcType=CHAR},
      </if>
      <if test="thusday != null">
        THURSDAY = #{thusday,jdbcType=CHAR},
      </if>
      <if test="friday != null">
        FRIDAY = #{friday,jdbcType=CHAR},
      </if>
      <if test="saturday != null">
        SATURDAY = #{saturday,jdbcType=CHAR},
      </if>
      <if test="sunday != null">
        SUNDAY = #{sunday,jdbcType=CHAR},
      </if>
      <if test="timelyNote != null">
        TIMELY_NOTE = #{timelyNote,jdbcType=VARCHAR},
      </if>
      <if test="openLineYear != null">
        OPEN_LINE_YEAR = #{openLineYear,jdbcType=VARCHAR},
      </if>
      <if test="isOpenGolden100Lines != null">
        IS_OPEN_GOLDEN100_LINES = #{isOpenGolden100Lines,jdbcType=VARCHAR},
      </if>
      <if test="standardNote != null">
        STANDARD_NOTE = #{standardNote,jdbcType=VARCHAR},
      </if>
      <if test="linePartner != null">
        LINE_PARTNER = #{linePartner,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        ACTIVE = #{active,jdbcType=CHAR},
      </if>
      <if test="effectedTime != null">
        EFFECTED_TIME = #{effectedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null">
        INVALID_TIME = #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR},
      </if>
    </set>
    where SALES_LINE_ID = #{slId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SalesLine">
    update REPORT_SALES_LINE
    set LINE_NUM = #{lineNum,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      SALES_LINE_NAME = #{salesLineName,jdbcType=VARCHAR},
      LOADING_PORT = #{loadingPort,jdbcType=VARCHAR},
      LOADING_PORT_ID = #{loadingPortId,jdbcType=VARCHAR},
      TRANSIT_DEPOT1 = #{transitDepot1,jdbcType=VARCHAR},
      TRANSIT_DEPOT2 = #{transitDepot2,jdbcType=VARCHAR},
      TERMINI = #{termint,jdbcType=VARCHAR},
      TERMINI_ID = #{termintId,jdbcType=VARCHAR},
      RELY1CLASS = #{rely1Class,jdbcType=VARCHAR},
      RELY2CLASS = #{rely2Class,jdbcType=VARCHAR},
      RELY3CLASS = #{rely3Class,jdbcType=VARCHAR},
      LINE1 = #{line1,jdbcType=VARCHAR},
      LINE2 = #{line2,jdbcType=VARCHAR},
      LINE3 = #{line3,jdbcType=VARCHAR},
      NO_TRANSFER_ARRIVAL = #{noTransferArrival,jdbcType=TIMESTAMP},
      ONE_TRANSFER_ARRIVAL = #{oneTransferArrival,jdbcType=TIMESTAMP},
      TWO_TRANSFER_ARRIVAL = #{twoTransferArrival,jdbcType=TIMESTAMP},
      BREAK_ONE_DAY_TIMES = #{breakOneDayTimes,jdbcType=VARCHAR},
      BREAK_TWO_DAYS_TIMES = #{breakTwoDaysTimes,jdbcType=VARCHAR},
      RELY_LINE1 = #{relyLine1,jdbcType=VARCHAR},
      RELY_LINE2 = #{relyLine2,jdbcType=VARCHAR},
      RELY_LINE3 = #{relyLine3,jdbcType=VARCHAR},
      DISPATCH0_AND1 = #{dispatchDayAndNextDayNum,jdbcType=CHAR},
      LOADING_PORT_FIRST_LEVEL_DISPA = #{loadingPortFirstLevelDispa,jdbcType=TIMESTAMP},
      TRANSIT_DEPOT1_DISPATCH_TIME = #{transitDepot1DispatchTime,jdbcType=TIMESTAMP},
      TRANSIT_DEPOT2_DISPATCH_TIME = #{transitDepot2DispatchTime,jdbcType=TIMESTAMP},
      TRANSIT_DEPOT1_ARRIVAL_TIME = #{transitDepot1ArraivalTime,jdbcType=TIMESTAMP},
      TRANSIT_DEPOT2_ARRIVAL_TIME = #{transitDepot2ArraivalTime,jdbcType=TIMESTAMP},
      TERMINI_FIRST_ARRIVAL_TIME = #{termitFirstArrivalTime,jdbcType=TIMESTAMP},
      TRANSIT_HOURS1 = #{transitHours1,jdbcType=DECIMAL},
      TRANSIT_HOURS2 = #{transitHours2,jdbcType=DECIMAL},
      TRANSIT_HOURS3 = #{transitHours3,jdbcType=DECIMAL},
      BREAK_HOURS1 = #{breakHours1,jdbcType=DECIMAL},
      BREAK_HOURS2 = #{breakHours2,jdbcType=DECIMAL},
      HOURS_IN_TRANSIT = #{hoursInTransit,jdbcType=DECIMAL},
      UNLOAD_HOURS = #{unloadHours,jdbcType=DECIMAL},
      TERMINAL_SHORT_LONG_LINES = #{terminalShortLongLines,jdbcType=CHAR},
      ARRIVAL0_AND1 = #{arrival0And1,jdbcType=CHAR},
      OPEN_MONTH = #{openMonth,jdbcType=VARCHAR},
      LINE_STATUS = #{lineStatus,jdbcType=VARCHAR},
      PICKUP_DAYS = #{pickupDays,jdbcType=VARCHAR},
      DELIVER_DAYS = #{deliverDays,jdbcType=VARCHAR},
      MONDAY = #{monday,jdbcType=CHAR},
      TUESDAY = #{tuesday,jdbcType=CHAR},
      WEDNESDAY = #{wednesday,jdbcType=CHAR},
      THURSDAY = #{thusday,jdbcType=CHAR},
      FRIDAY = #{friday,jdbcType=CHAR},
      SATURDAY = #{saturday,jdbcType=CHAR},
      SUNDAY = #{sunday,jdbcType=CHAR},
      TIMELY_NOTE = #{timelyNote,jdbcType=VARCHAR},
      OPEN_LINE_YEAR = #{openLineYear,jdbcType=VARCHAR},
      IS_OPEN_GOLDEN100_LINES = #{isOpenGolden100Lines,jdbcType=VARCHAR},
      STANDARD_NOTE = #{standardNote,jdbcType=VARCHAR},
      LINE_PARTNER = #{linePartner,jdbcType=VARCHAR},
      ACTIVE = #{active,jdbcType=CHAR},
      EFFECTED_TIME = #{effectedTime,jdbcType=TIMESTAMP},
      INVALID_TIME = #{invalidTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR}
    where SALES_LINE_ID = #{slId,jdbcType=DECIMAL}
  </update>
  <select id="querySalesLineByCondition" resultMap="BaseResultMap" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SalesLine">
    select 
    <include refid="Base_Column_List" />
    from REPORT_SALES_LINE
    <where>
    <if test="slId != null and slId != ''">
        SALES_LINE_ID = #{slId,jdbcType=DECIMAL}
      </if>
       <if test="salesLineName != null and salesLineName != ''">
        and SALES_LINE_NAME = #{salesLineName,jdbcType=VARCHAR}
      </if>
      <if test="loadingPort != null and loadingPort != ''">
        and LOADING_PORT = #{loadingPort,jdbcType=VARCHAR}
      </if>
      <if test="termint != null and termint != ''">
        and TERMINI = #{termint,jdbcType=VARCHAR}
      </if>
    	<if test="active != null and active != ''">
    	and ACTIVE = #{active,jdbcType=VARCHAR}
    	</if>
    </where>
    order by CREATE_TIME desc
  </select>
  
  <select id="querySalesLineCountByCondition" resultType="long" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.SalesLine">
    select count(*)
    from REPORT_SALES_LINE
    <where>
      <if test="slId != null and slId != ''">
        SALES_LINE_ID = #{slId,jdbcType=DECIMAL}
      </if>
       <if test="salesLineName != null and salesLineName != ''">
       and SALES_LINE_NAME = #{salesLineName,jdbcType=VARCHAR}
      </if>
      <if test="loadingPort != null and loadingPort != ''">
       and LOADING_PORT = #{loadingPort,jdbcType=VARCHAR}
      </if>
      <if test="termint != null and termint != ''">
        and TERMINI = #{termint,jdbcType=VARCHAR}
      </if>
    	<if test="active != null and active != ''">
    	and ACTIVE = #{active,jdbcType=VARCHAR}
    	</if>
    </where>
   </select>
   <update id="repealAllSalesLine">
   	update REPORT_SALES_LINE
   	<set>
   	ACTIVE = 'N',
   	INVALID_TIME = SYSDATE
   	</set>
   	<where>
   	ACTIVE = 'Y'
   	</where>
   </update>
</mapper>