<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoau.hoaureport.module.configreport.server.dao.StoreTheInfoMapper">
  <resultMap id="BaseResultMap" type="com.hoau.hoaureport.module.configreport.shared.domain.StoreTheInfo">
    <id column="STORE_ID" jdbcType="DECIMAL" property="storeId" />
    <result column="STORE_CODE" jdbcType="VARCHAR" property="storeCode" />
    <result column="STORE_NAME" jdbcType="VARCHAR" property="storeName" />
    <result column="THE_ROADAREA" jdbcType="VARCHAR" property="theRoadArea" />
    <result column="THE_AREA" jdbcType="VARCHAR" property="theArea" />
    <result column="THE_BUSINESS_DEPARTMENT" jdbcType="VARCHAR" property="theBusinessDepartment" />
    <result column="ACTIVE" jdbcType="CHAR" property="active" />
    <result column="EFFECTED_TIME" jdbcType="TIMESTAMP" property="effectedTime" />
    <result column="INVALID_TIME" jdbcType="TIMESTAMP" property="invalidTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER_CODE" jdbcType="VARCHAR" property="createUserCode" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="MODIFY_USER_CODE" jdbcType="VARCHAR" property="modifyUserCode" />
  </resultMap>
  <sql id="Base_Column_List">
    STORE_ID, STORE_CODE, STORE_NAME, THE_ROADAREA, THE_AREA, THE_BUSINESS_DEPARTMENT, 
    ACTIVE, EFFECTED_TIME, INVALID_TIME, CREATE_TIME, CREATE_USER_CODE, MODIFY_TIME, 
    MODIFY_USER_CODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from REPORT_STORE_THEINFO
    where STORE_ID = #{storeId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from REPORT_STORE_THEINFO
    where STORE_ID = #{storeId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.StoreTheInfo">
    insert into REPORT_STORE_THEINFO (STORE_ID, STORE_CODE, STORE_NAME, 
      THE_ROADAREA, THE_AREA, THE_BUSINESS_DEPARTMENT, 
      ACTIVE, EFFECTED_TIME, INVALID_TIME, 
      CREATE_TIME, CREATE_USER_CODE, MODIFY_TIME, 
      MODIFY_USER_CODE)
    values SEQ_STORE_ID.Nextval,( #{storeCode,jdbcType=VARCHAR}, #{storeName,jdbcType=VARCHAR}, 
      #{theRoadArea,jdbcType=VARCHAR}, #{theArea,jdbcType=VARCHAR}, #{theBusinessDepartment,jdbcType=VARCHAR}, 
      #{active,jdbcType=CHAR}, #{effectedTime,jdbcType=TIMESTAMP}, #{invalidTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserCode,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{modifyUserCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.StoreTheInfo">
    insert into REPORT_STORE_THEINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
        STORE_ID,
      <if test="storeCode != null">
        STORE_CODE,
      </if>
      <if test="storeName != null">
        STORE_NAME,
      </if>
      <if test="theRoadArea != null">
        THE_ROADAREA,
      </if>
      <if test="theArea != null">
        THE_AREA,
      </if>
      <if test="theBusinessDepartment != null">
        THE_BUSINESS_DEPARTMENT,
      </if>
      <if test="active != null">
        ACTIVE,
      </if>
      <if test="effectedTime != null">
        EFFECTED_TIME,
      </if>
      <if test="invalidTime != null">
        INVALID_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE,
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME,
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        SEQ_STORE_ID.Nextval,
      <if test="storeCode != null">
        #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="theRoadArea != null">
        #{theRoadArea,jdbcType=VARCHAR},
      </if>
      <if test="theArea != null">
        #{theArea,jdbcType=VARCHAR},
      </if>
      <if test="theBusinessDepartment != null">
        #{theBusinessDepartment,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=CHAR},
      </if>
      <if test="effectedTime != null">
        #{effectedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null">
        #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserCode != null">
        #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserCode != null">
        #{modifyUserCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.StoreTheInfo">
    update REPORT_STORE_THEINFO
    <set>
      <if test="storeCode != null">
        STORE_CODE = #{storeCode,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null">
        STORE_NAME = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="theRoadArea != null">
        THE_ROADAREA = #{theRoadArea,jdbcType=VARCHAR},
      </if>
      <if test="theArea != null">
        THE_AREA = #{theArea,jdbcType=VARCHAR},
      </if>
      <if test="theBusinessDepartment != null">
        THE_BUSINESS_DEPARTMENT = #{theBusinessDepartment,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        ACTIVE = #{active,jdbcType=CHAR},
      </if>
      <if test="effectedTime != null">
        EFFECTED_TIME = #{effectedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="invalidTime != null">
        INVALID_TIME = #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserCode != null">
        CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserCode != null">
        MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR},
      </if>
    </set>
    where STORE_ID = #{storeId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.StoreTheInfo">
    update REPORT_STORE_THEINFO
    set STORE_CODE = #{storeCode,jdbcType=VARCHAR},
      STORE_NAME = #{storeName,jdbcType=VARCHAR},
      THE_ROADAREA = #{theRoadArea,jdbcType=VARCHAR},
      THE_AREA = #{theArea,jdbcType=VARCHAR},
      THE_BUSINESS_DEPARTMENT = #{theBusinessDepartment,jdbcType=VARCHAR},
      ACTIVE = #{active,jdbcType=CHAR},
      EFFECTED_TIME = #{effectedTime,jdbcType=TIMESTAMP},
      INVALID_TIME = #{invalidTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER_CODE = #{createUserCode,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      MODIFY_USER_CODE = #{modifyUserCode,jdbcType=VARCHAR}
    where STORE_ID = #{storeId,jdbcType=DECIMAL}
  </update>
  
   <select id="queryStoreTheInfoByCondition" resultMap="BaseResultMap" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.StoreTheInfo">
    select 
    <include refid="Base_Column_List" />
    from REPORT_STORE_THEINFO
      <where>
    	<if test="storeId != null and storeId != ''">
    	and STORE_ID = #{storeId,jdbcType=DECIMAL}
    	</if>
    	<if test="storeCode != null and storeCode != ''">
    	and STORE_CODE like CONCAT(CONCAT('%',#{storeCode,jdbcType=VARCHAR}),'%')
    	</if>
    	<if test="storeName != null and storeName != ''">
    	and STORE_NAME = #{storeName,jdbcType=VARCHAR}
    	</if>
    	<if test="theRoadArea != null and theRoadArea != ''">
    	and THE_ROADAREA = #{theRoadArea,jdbcType=VARCHAR}
    	</if>
    	<if test="theArea != null and theArea != ''">
    	and THE_AREA = #{theArea,jdbcType=VARCHAR}
    	</if>
    	<if test="theBusinessDepartment != null and theBusinessDepartment != ''">
    	and THE_BUSINESS_DEPARTMENT = #{theBusinessDepartment,jdbcType=VARCHAR}
    	</if>
    	<if test="active != null and active != ''">
    	and ACTIVE = #{active,jdbcType=CHAR}
    	</if>
    </where>
    order by CREATE_TIME desc
  </select>
  
  <select id="queryStoreTheInfoCountByCondition" resultType="long" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.StoreTheInfo">
    select count(*)
    from REPORT_STORE_THEINFO
     <where>
    	<if test="storeId != null and storeId != ''">
    	and STORE_ID = #{storeId,jdbcType=DECIMAL}
    	</if>
    	<if test="storeCode != null and storeCode != ''">
    	and STORE_CODE like CONCAT(CONCAT('%',#{storeCode,jdbcType=VARCHAR}),'%')
    	</if>
    	<if test="storeName != null and storeName != ''">
    	and STORE_NAME = #{storeName,jdbcType=VARCHAR}
    	</if>
    	<if test="theRoadArea != null and theRoadArea != ''">
    	and THE_ROADAREA = #{theRoadArea,jdbcType=VARCHAR}
    	</if>
    	<if test="theArea != null and theArea != ''">
    	and THE_AREA = #{theArea,jdbcType=VARCHAR}
    	</if>
    	<if test="theBusinessDepartment != null and theBusinessDepartment != ''">
    	and THE_BUSINESS_DEPARTMENT = #{theBusinessDepartment,jdbcType=VARCHAR}
    	</if>
    	<if test="active != null and active != ''">
    	and ACTIVE = #{active,jdbcType=CHAR}
    	</if>
    </where>
  </select>
  
   <select id="queryStoreTheInfoByExplicitCondition" resultMap="BaseResultMap" parameterType="com.hoau.hoaureport.module.configreport.shared.domain.StoreTheInfo">
    select 
    <include refid="Base_Column_List" />
    from REPORT_STORE_THEINFO
      <where>
    	<if test="storeId != null and storeId != ''">
    	and STORE_ID = #{storeId,jdbcType=DECIMAL}
    	</if>
    	<if test="storeCode != null and storeCode != ''">
    	and STORE_CODE = #{storeCode,jdbcType=VARCHAR}
    	</if>
    	<if test="storeName != null and storeName != ''">
    	and STORE_NAME = #{storeName,jdbcType=VARCHAR}
    	</if>
    	<if test="theRoadArea != null and theRoadArea != ''">
    	and THE_ROADAREA = #{theRoadArea,jdbcType=VARCHAR}
    	</if>
    	<if test="theArea != null and theArea != ''">
    	and THE_AREA = #{theArea,jdbcType=VARCHAR}
    	</if>
    	<if test="theBusinessDepartment != null and theBusinessDepartment != ''">
    	and THE_BUSINESS_DEPARTMENT = #{theBusinessDepartment,jdbcType=VARCHAR}
    	</if>
    	<if test="active != null and active != ''">
    	and ACTIVE = #{active,jdbcType=CHAR}
    	</if>
    </where>
    order by CREATE_TIME desc
  </select>
   <update id="repealAllStoreTheInfo">
	   	update REPORT_STORE_THEINFO
	   	<set>
	   	ACTIVE = 'N'
	   	</set>
	   	<where>
	   	ACTIVE = 'Y'
	   	</where>
   </update>
</mapper>