<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 时效图表的MyBatis映射文件 -->
<mapper namespace="com.hoau.hoaureport.module.configreport.server.dao.TimelinessDaoMapper"><!-- 最好是实体的地址 -->
	<!-- 送货及时率 -->
	
	<select id="queryList" resultType="com.hoau.hoaureport.module.configreport.shared.domain.GraphBaseInfo" parameterType="string">
		<![CDATA[
		
			 select 
			  syb as deptName,
			  nvl(dy_jsl,0) as outputValue,
			  nvl(mbz,0)as target 
			 from  REPORT_SHJSL_TJ 
			 where ssr = #{ssr,jdbcType=VARCHAR} 
			 and tjlx in('1','2','3','4','5')
			 order by tjlx asc
		
		
		]]>	
 
	</select>
	
	
	<select id="queryNextDayList" resultType="com.hoau.hoaureport.module.configreport.shared.domain.GraphBaseInfo" parameterType="string">
		<![CDATA[
		
			select syb as deptName,
			  nvl(dy_sdl,0) as outputValue,
			  nvl(mbz,0) as target
			from report_crsdl_tj 
			where tjlx in('1','2','3','4','5')  and ssr = #{ssr,jdbcType=VARCHAR}
			order by tjlx asc 
		
		
		]]>	
 
	</select>
	
</mapper>
